openapi: 3.1.0

info:
  title: Core Domain Service
  version: 0.7.0
  license:
    name: Proprietary — MotifPath internal use only
    identifier: UNLICENSED
  description: |
    Manages the MotifPath core domain: user identity, content (nodes, challenges,
    exercises), learning paths, and student progress state.

    This service is the authoritative source for all domain entities referenced by
    other services. The Event Ingestion Service validates student identity against
    user records created here. All content IDs carried in tracking events
    (content_node_id, challenge_id, exercise_id) must exist in this service before
    events that reference them are meaningful.

servers:
  - url: https://api.motifpath.io/v1
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - BearerAuth: []

paths:
  /users:
    post:
      operationId: registerUser
      summary: Register an authenticated user
      description: |
        Creates a MotifPath user record for the authenticated Clerk identity. The
        caller supplies their intended role (student or teacher); the service maps
        the JWT sub claim to a new user_id and persists the record.

        This endpoint must be called once per Clerk identity before any other
        authenticated operation. Subsequent calls with the same JWT sub return 409.

        The user_id returned in the response is the stable MotifPath identity for
        this user. Students must use this value as the student_id field in all
        tracking events submitted to the Event Ingestion Service.
      tags:
        - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
            examples:
              register_student:
                summary: A new student registers
                value:
                  role: student
              register_teacher:
                summary: A new teacher registers
                value:
                  role: teacher
      responses:
        "201":
          description: |
            User registered. Returns the new user's stable MotifPath identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "400":
          description: |
            The request body is invalid. The role field is missing or contains an
            unrecognised value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: |
            Missing or invalid Bearer token. The caller must be authenticated via
            Clerk before registering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "409":
          description: |
            A user record already exists for this Clerk identity. Each Clerk
            account can be registered only once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /content-nodes:
    get:
      operationId: listContentNodes
      summary: List content nodes for authoring
      description: |
        Returns content nodes from the library, for browsing and picking one
        to edit, use as a remediation target, or add to a learning path —
        not a student-facing catalog. Results are unordered beyond a stable
        id order and are not paginated. Only teachers and admins may list
        content nodes.
      tags:
        - Content
      parameters:
        - name: content_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - video
              - article
          description: When given, only content nodes of this type are returned.
        - name: skill
          in: query
          required: false
          schema:
            type: string
          description: When given, only content nodes with this skill name among their linked skills are returned.
        - name: concept
          in: query
          required: false
          schema:
            type: string
          description: When given, only content nodes with this concept name among their linked concepts are returned.
        - name: difficulty_level
          in: query
          required: false
          schema:
            type: string
            enum:
              - beginner
              - early_intermediate
              - intermediate
              - advanced
              - expert
          description: When given, only content nodes at this difficulty level are returned.
      responses:
        "200":
          description: The matching content nodes, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentNode'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to list content
            nodes. Only teachers and admins may list content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createContentNode
      summary: Create a content node
      description: |
        Creates a new content node owned by the authenticated teacher or admin.
        A content node is the base unit of a class — a video or article that a
        student consumes on their learning path.

        Classification (skills, concepts, difficulty level) must be supplied at
        creation time. The review_state is always set to pending on creation
        regardless of the value supplied; an admin must explicitly confirm it.
        Classification is the minimum semantic layer required for gap detection
        to function.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentNodeRequest'
            examples:
              video_lesson:
                summary: A teacher publishes a video lesson on triad shapes
                value:
                  title: "Introduction to Triad Shapes"
                  content_type: video
                  classification:
                    skills: ["triad-shapes"]
                    concepts: ["chord-theory"]
                    difficulty_level: beginner
                  language_codes:
                    - en
      responses:
        "201":
          description: Content node created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create content.
            Only teachers and admins may create content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /content-nodes/{content_node_id}:
    get:
      operationId: getContentNode
      summary: Get a content node by ID
      description: |
        Returns the content node with the given ID. Any authenticated user
        (student, teacher, or admin) may retrieve a content node.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to retrieve.
      responses:
        "200":
          description: The requested content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateContentNode
      summary: Update a content node's title and classification
      description: |
        Replaces the given content node's title and classification with the
        request body. content_type cannot be changed — it determines which
        expanded-content trigger fields (seconds vs. paragraph) are valid for
        items already attached to this node, so changing it would leave those
        items in an inconsistent shape; publish a new content node of the
        desired type instead. review_state is not affected by this call — an
        edit does not reset or require re-confirming an admin's prior review.
        Only the creating teacher or an admin may update a content node.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContentNodeRequest'
      responses:
        "200":
          description: The updated content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            content node. Only the creating teacher or an admin may update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/challenges:
    get:
      operationId: listContentNodeChallenges
      summary: List the challenges attached to a content node
      description: |
        Returns the challenges attached to the specified content node, so a client
        can discover whether a node has a practice step before linking into it. A
        node with no challenge returns an empty array — completion for that node
        comes from its content alone. Any authenticated user may list a node's
        challenges.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose challenges are requested.
      responses:
        "200":
          description: The content node's challenges, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Challenge'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      operationId: createChallenge
      summary: Create a challenge for a content node
      description: |
        Creates a new challenge attached to the specified content node. A challenge
        is the assessment unit for a class — it groups exercises and carries the
        subject tag and pass threshold used by the rules-based recommendation
        engine, plus an optional, purely informational time threshold.

        Subject tag is mandatory. Without it, right/wrong outcomes on exercises are
        analytically meaningless and gap detection cannot function. Remediation
        targets are configured per exercise, not on the challenge — see
        Exercise.remediation_targets.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node this challenge belongs to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
            examples:
              chord_recognition:
                summary: A challenge for chord recognition with an explicit time threshold
                value:
                  subject_tag: "triad-shapes"
                  pass_threshold: 70
                  time_threshold_ms: 120000
      responses:
        "201":
          description: Challenge created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create challenges.
            Only teachers and admins may create challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /challenges/{challenge_id}:
    get:
      operationId: getChallenge
      summary: Get a challenge by ID
      description: |
        Returns the challenge with the given ID. Any authenticated user may
        retrieve a challenge.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to retrieve.
      responses:
        "200":
          description: The requested challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No challenge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateChallenge
      summary: Update a challenge's assessment configuration
      description: |
        Replaces the given challenge's subject tag, pass threshold, time
        threshold, and shuffle flags with the request body. The challenge's
        linked exercises are untouched by this call — use POST/DELETE
        /challenges/{challenge_id}/exercises/{exercise_id} to change those.
        Remediation targets are configured per exercise, not on the
        challenge — see updateExercise. Only the creating teacher or an
        admin may update a challenge.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChallengeRequest'
      responses:
        "200":
          description: The updated challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            challenge. Only the creating teacher or an admin may update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No challenge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises:
    get:
      operationId: listExercises
      summary: List standalone exercises for authoring
      description: |
        Returns exercises from the reusable pool, for browsing and picking one
        to edit in an authoring tool — not the randomized, skill-targeted
        selection GET /practice-sessions performs for a student's practice
        attempt. Results are unordered beyond a stable id order and are not
        paginated. Only teachers and admins may list exercises; the pool is
        an authoring surface, not a student-facing catalog.
      tags:
        - Content
      parameters:
        - name: skill_tag
          in: query
          required: false
          schema:
            type: string
          description: |
            When given, only exercises carrying this exact skill tag are
            returned.
        - name: exercise_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - text_response
              - audio_recognition
              - image_recognition
              - image_choice
              - audio_selection
          description: When given, only exercises of this type are returned.
      responses:
        "200":
          description: The matching exercises, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to list exercises.
            Only teachers and admins may list exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createExercise
      summary: Create a standalone exercise
      description: |
        Creates a reusable exercise, independent of any challenge. An exercise
        is a single practice item, checked by option selection: the student's
        selected option ID(s) must match the option(s) marked is_correct. The
        exercise_id returned is the value the SPA must supply in
        exercise-family tracking events. Link the exercise into one or more
        challenges afterward with
        POST /challenges/{challenge_id}/exercises/{exercise_id}.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExerciseRequest'
            examples:
              image_recognition:
                summary: A fretboard region identification exercise
                value:
                  title: "Root position of a C major triad"
                  prompt:
                    type: doc
                    content:
                      - type: paragraph
                        content:
                          - type: text
                            text: "Identify the root position of a C major triad"
                  exercise_type: image_recognition
                  skill_tags:
                    - triad-shapes
                  image_url: "https://cdn.example.com/fretboard/c-major-triad.png"
                  options:
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000001"
                      is_correct: true
                      region:
                        x: 0.2
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000002"
                      is_correct: false
                      region:
                        x: 0.5
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
                  language_codes:
                    - any
      responses:
        "201":
          description: Exercise created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "400":
          description: |
            The request body failed schema validation, or no option has
            is_correct set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create exercises.
            Only teachers and admins may create exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /practice-sessions:
    get:
      operationId: startPracticeSession
      summary: Start a randomized, skill-targeted practice session
      description: |
        Selects up to count exercises tagged with skill_tag from the reusable
        exercise pool, in random order with each exercise's options also
        shuffled, and returns them grouped under a new practice_session_id.
        A practice session is not a stored resource — nothing is persisted by
        this call, and repeating it returns a different selection and a new
        practice_session_id. The returned exercises include which option(s)
        are correct, on the same client-side-scoring basis as challenge
        exercises.

        This is the entry point for a student's self-directed practice
        between lessons — for example on a commute or a work break — rather
        than practice tied to a specific content node. The client threads the
        returned practice_session_id through the trigger_context of the
        exercise.* tracking events it emits while attempting the session, so
        the recommendation engine can evaluate outcomes per skill tag.

        Any authenticated user may start a practice session.
      tags:
        - Content
      parameters:
        - name: skill_tag
          in: query
          required: true
          schema:
            type: string
            minLength: 1
          description: The skill or technique tag to select exercises for (e.g. "alternate_picking").
        - name: count
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: |
            The number of exercises requested. The response may contain fewer
            if the exercise pool tagged with skill_tag is smaller than count.
      responses:
        "200":
          description: The generated practice session, possibly with fewer exercises than requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PracticeSession'
        "400":
          description: skill_tag was omitted or empty, or count was outside 1-50.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /challenges/{challenge_id}/exercises:
    get:
      operationId: listChallengeExercises
      summary: List the exercises linked to a challenge
      description: |
        Returns the exercises currently linked to the specified challenge, in the
        shape a client needs to run a practice attempt — each exercise's prompt,
        type, and options, including which option(s) are correct. Any authenticated
        user may list a challenge's exercises; the client is responsible for
        withholding correctness from the student's own view while the attempt is
        in progress and using it only to score the attempt once submitted.

        Exercise and option order follow the challenge's shuffle_exercises and
        shuffle_options settings — when either is true, that ordering is
        randomized fresh on every call and is not stable across requests.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge whose exercises are requested.
      responses:
        "200":
          description: The challenge's linked exercises, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No challenge exists with the given challenge_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /challenges/{challenge_id}/exercises/{exercise_id}:
    post:
      operationId: linkExerciseToChallenge
      summary: Link an existing exercise to a challenge
      description: |
        Links an existing, standalone exercise into the specified challenge.
        The same exercise may be linked to any number of challenges — linking
        it into a second challenge does not duplicate the exercise or affect
        its other links.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to link the exercise into.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to link.
      responses:
        "201":
          description: Exercise linked. Returns the updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to link exercises.
            Only teachers and admins may link exercises to challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No challenge exists with challenge_id, or no exercise exists with exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: The exercise is already linked to this challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: unlinkExerciseFromChallenge
      summary: Unlink an exercise from a challenge
      description: |
        Removes the link between the specified exercise and challenge. The
        exercise itself is not deleted and remains linked to any other
        challenges it is part of.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to unlink the exercise from.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to unlink.
      responses:
        "204":
          description: Exercise unlinked.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to unlink exercises.
            Only teachers and admins may unlink exercises from challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            No challenge exists with challenge_id, no exercise exists with
            exercise_id, or the exercise is not currently linked to this
            challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/exercises:
    get:
      operationId: listContentNodePathExercises
      summary: List a content node's path exercises
      description: |
        Returns the exercises linked to the specified content node as path
        exercises — the static, teacher-curated introductory practice for that
        node. Unlike a challenge, a path exercise is not an assessment: it
        carries no pass threshold and is always returned in link order, never
        shuffled. Any authenticated user may list a node's path exercises.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose path exercises are requested.
      responses:
        "200":
          description: The node's path exercises, in link order, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/exercises/{exercise_id}:
    post:
      operationId: linkExerciseToContentNode
      summary: Link an existing exercise to a content node as a path exercise
      description: |
        Links an existing, standalone exercise into the specified content node
        as a path exercise. The same exercise may be linked as a path exercise
        on any number of nodes, and independently linked into any number of
        challenges — these are separate relationships.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to link the exercise into.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to link.
      responses:
        "201":
          description: Exercise linked. Returns the updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to link exercises.
            Only teachers and admins may link exercises to content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with content_node_id, or no exercise exists with exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: The exercise is already linked to this content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: unlinkExerciseFromContentNode
      summary: Unlink an exercise from a content node
      description: |
        Removes the path-exercise link between the specified exercise and
        content node. The exercise itself is not deleted and remains linked to
        any other nodes or challenges it is part of.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to unlink the exercise from.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to unlink.
      responses:
        "204":
          description: Exercise unlinked.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to unlink exercises.
            Only teachers and admins may unlink exercises from content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            No content node exists with content_node_id, no exercise exists
            with exercise_id, or the exercise is not currently linked to this
            content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/expanded-content:
    post:
      operationId: createExpandedContent
      summary: Add an expanded content item to a content node
      description: |
        Attaches an expositive item (image, GIF, or rich content) to a
        content node. The item is shown to the student at a specific point
        during consumption — at a video timestamp for video nodes, or at a
        paragraph position for article nodes.

        **Trigger and hide rules by content node type:**

        - **video**: `trigger_at_seconds` is required. `hide_at_seconds` must be
          provided and must be greater than `trigger_at_seconds`. `trigger_at_paragraph`
          and `duration_ms` must be absent.
        - **article**: `trigger_at_paragraph` is required (1-based index). `duration_ms`
          must be provided (minimum 1 ms). `trigger_at_seconds` and `hide_at_seconds`
          must be absent.

        These timing rules apply the same way regardless of content_type.

        **Content rules by content_type:** `image` and `gif` require `media_url`
        and must not carry `rich_content`. `rich_text` requires `rich_content`
        and must not carry `media_url` — video or audio embeds go inside the
        rich content itself, there is no separate `video`/`audio` content_type.

        These constraints are enforced at write time. A request that mixes fields
        from either group (trigger/hide, or media_url/rich_content) is rejected
        with 400.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to attach the expanded content to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpandedContentRequest'
            examples:
              video_chord_diagram:
                summary: A chord diagram shown at a specific moment in a video lesson
                value:
                  content_type: image
                  media_url: "https://cdn.example.com/diagrams/c-major-triad.png"
                  trigger_at_seconds: 150
                  hide_at_seconds: 165
                  caption: "C major triad — root position"
              article_gif:
                summary: An animated GIF shown when the student reaches paragraph 3 of an article
                value:
                  content_type: gif
                  media_url: "https://cdn.example.com/animations/finger-placement.gif"
                  trigger_at_paragraph: 3
                  duration_ms: 8000
                  caption: "Correct finger placement for the first chord"
      responses:
        "201":
          description: Expanded content item created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "400":
          description: |
            The request body failed schema validation, the trigger/hide field
            combination is inconsistent with the parent content node type, or
            the media_url/rich_content combination is inconsistent with
            content_type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to add expanded content.
            Only teachers and admins may add expanded content to a content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    get:
      operationId: listExpandedContent
      summary: List all expanded content items for a content node
      description: |
        Returns all expanded content items attached to the specified content node,
        ordered by trigger position (trigger_at_seconds ascending for video,
        trigger_at_paragraph ascending for article). Any authenticated user may
        retrieve this list.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose expanded content to list.
      responses:
        "200":
          description: Ordered list of expanded content items for the content node.
          content:
            application/json:
              schema:
                type: object
                description: Paginated list of expanded content items.
                properties:
                  items:
                    type: array
                    description: Expanded content items ordered by trigger position.
                    items:
                      $ref: '#/components/schemas/ExpandedContent'
                  total:
                    type: integer
                    description: Total number of expanded content items for this content node.
                required:
                  - items
                  - total
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /expanded-content/{expanded_content_id}:
    get:
      operationId: getExpandedContent
      summary: Get an expanded content item by ID
      description: |
        Returns the expanded content item with the given ID. Any authenticated
        user may retrieve an expanded content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to retrieve.
      responses:
        "200":
          description: The requested expanded content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateExpandedContent
      summary: Update an expanded content item
      description: |
        Replaces the given expanded content item's media, trigger/hide
        position, and caption with the request body. The same trigger/hide
        field-group rules as POST .../expanded-content apply, validated
        against the parent content node's type. Only the creating teacher or
        an admin may update an expanded content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpandedContentRequest'
      responses:
        "200":
          description: The updated expanded content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "400":
          description: |
            The request body failed schema validation, the trigger/hide
            field combination is inconsistent with the parent content node
            type, or the media_url/rich_content combination is inconsistent
            with content_type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            expanded content item. Only the creating teacher or an admin may
            update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      operationId: deleteExpandedContent
      summary: Delete an expanded content item
      description: |
        Permanently removes the given expanded content item from its content
        node. Only the creating teacher or an admin may delete an expanded
        content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to delete.
      responses:
        "204":
          description: The expanded content item was deleted.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to delete this
            expanded content item. Only the creating teacher or an admin may
            delete it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises/{exercise_id}:
    get:
      operationId: getExercise
      summary: Get an exercise by ID
      description: |
        Returns the exercise with the given ID, including its options and
        the challenges it is currently linked to. Any authenticated user may
        retrieve an exercise.
      tags:
        - Content
      parameters:
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to retrieve.
      responses:
        "200":
          description: The requested exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No exercise exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateExercise
      summary: Replace an exercise's authored content
      description: |
        Replaces the given exercise's title, prompt, skill tags, stimulus
        media, options, and estimated duration with the request body.
        exercise_type cannot be changed — an exercise's type determines its
        option shape (region vs. text vs. image), so changing it would leave
        existing options in an inconsistent shape; author a new exercise of
        the desired type instead. The exercise's links to challenges and
        content nodes are untouched by this call. Only teachers and admins
        may update an exercise.
      tags:
        - Content
      parameters:
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExerciseRequest'
      responses:
        "200":
          description: The updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "400":
          description: |
            The request body failed schema validation, or no option has
            is_correct set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update exercises.
            Only teachers and admins may update exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No exercise exists with the given exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /media/upload-url:
    post:
      operationId: createMediaUploadUrl
      summary: Request a presigned URL to upload a content-authoring media asset
      description: |
        Issues a short-lived presigned URL the caller uploads a file to directly
        (object storage — S3 in production, MinIO in local development), without
        proxying the file's bytes through this service. The response also returns
        the object's eventual read URL, which the caller stores in the relevant
        `media_url` / `image_url` / `audio_url` field once the upload completes.

        This endpoint does not verify the upload happened — the presigned URL
        itself enforces who may write to the target object, and for how long.
        Callers are responsible for actually performing the PUT before the
        returned `expires_at`.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaUploadUrlRequest'
            examples:
              exercise_prompt_image:
                summary: An image for a specific exercise's prompt or option
                value:
                  purpose: exercise_asset
                  exercise_id: "550e8400-e29b-41d4-a716-446655440000"
                  content_type: image
                  file_name: "descending-run-diagram.png"
              library_image:
                summary: A new image added to the shared, predefined image-picker library
                value:
                  purpose: library_asset
                  content_type: image
                  file_name: "c-major-scale-fretboard.png"
      responses:
        "201":
          description: Presigned upload URL issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadUrl'
        "400":
          description: |
            The request body failed schema validation, or purpose is
            exercise_asset without an exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to upload
            content-authoring media. Only teachers and admins may request an
            upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: purpose is exercise_asset but no exercise exists with the given exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /skills:
    get:
      operationId: listSkills
      summary: List all known skills
      description: |
        Returns every Skill currently known to the system, sorted by name.
        Skills are created implicitly by ContentNode authoring — this is a
        read-only catalog for populating an authoring picker/suggestion list,
        not a management surface. Any authenticated user may list skills.
      tags:
        - Content
      responses:
        "200":
          description: All known skills, possibly empty, sorted by name.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Skill'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /concepts:
    get:
      operationId: listConcepts
      summary: List all known concepts
      description: |
        Returns every Concept currently known to the system, sorted by name.
        Concepts are created implicitly by ContentNode authoring — this is a
        read-only catalog for populating an authoring picker/suggestion list,
        not a management surface. Any authenticated user may list concepts.
      tags:
        - Content
      responses:
        "200":
          description: All known concepts, possibly empty, sorted by name.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Concept'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /learning-paths:
    get:
      operationId: listLearningPaths
      summary: List learning paths for authoring
      description: |
        Returns learning paths from the library, for browsing and picking one
        to edit or assign to a student. Results are unordered beyond a stable
        id order and are not paginated. Teachers and admins may list learning
        paths; students may not browse paths directly — their view is
        through GET /students/me/path.
      tags:
        - Learning Paths
      responses:
        "200":
          description: The existing learning paths, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningPath'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Students may not list learning paths directly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createLearningPath
      summary: Create a learning path
      description: |
        Creates an ordered sequence of content nodes that a student will follow.
        Items are specified in the desired order; the service assigns each a
        1-based position. All content_node_ids must exist in the system before
        the path can be created. A path must contain at least one item.
      tags:
        - Learning Paths
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLearningPathRequest'
            examples:
              beginner_guitar_path:
                summary: A three-node beginner path
                value:
                  title: "Beginner Guitar"
                  items:
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000002"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000003"
              rhythm_foundations_with_sections:
                summary: A path whose items are grouped into named sections
                value:
                  title: "Rhythm Foundations"
                  items:
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                      section_label: "Open chords"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000002"
                      section_label: "Open chords"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000003"
                      section_label: "Strumming patterns"
      responses:
        "201":
          description: Learning path created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        "400":
          description: |
            The request body failed schema validation — missing title, empty items
            array, or a content_node_id that does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            Only teachers and admins may create learning paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /learning-paths/{learning_path_id}:
    get:
      operationId: getLearningPath
      summary: Get a learning path by ID
      description: |
        Returns the learning path with its ordered items. Teachers and admins
        may retrieve any path. Students may not browse paths directly — their
        view is through GET /students/me/path.
      tags:
        - Learning Paths
      parameters:
        - name: learning_path_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the learning path to retrieve.
      responses:
        "200":
          description: The requested learning path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Students may not retrieve learning paths directly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No learning path exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: replaceLearningPath
      summary: Replace a learning path's title and items
      description: |
        Replaces the given learning path's title and ordered items wholesale,
        the same way POST /learning-paths establishes them initially — a
        caller that wants to add, remove, reorder, or relabel a single item
        resends the full items array with the desired result. Positions are
        reassigned 1-based from the new array's order, same as on create.
        Existing student progress against this path (a copied StudentPath
        per student, not a shared reference) is unaffected by this call.
        Only the creating teacher or an admin may replace a learning path.
      tags:
        - Learning Paths
      parameters:
        - name: learning_path_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the learning path to replace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceLearningPathRequest'
      responses:
        "200":
          description: The updated learning path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        "400":
          description: |
            The request body failed schema validation — missing title, empty
            items array, or a content_node_id that does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to replace this
            learning path. Only the creating teacher or an admin may replace
            it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No learning path exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /students/{student_id}/path-assignments:
    post:
      operationId: assignLearningPath
      summary: Assign a learning path to a student
      description: |
        Assigns a learning path to the specified student. The student must have
        role student. If the student already has an active path assignment, the
        existing assignment is replaced by this one and the student's progress
        is reset to the first item. Only one active assignment per student is
        supported for MVP.
      tags:
        - Learning Paths
      parameters:
        - name: student_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The user_id of the student to assign the path to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignLearningPathRequest'
            examples:
              assign_path:
                summary: Assign a path to a student
                value:
                  learning_path_id: "d4e5f6a7-0000-0000-0000-000000000001"
      responses:
        "201":
          description: Path assigned. Returns the new assignment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathAssignment'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Only teachers and admins may assign learning paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            The student_id does not exist, the student's role is not student,
            or the learning_path_id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /students/me/path:
    get:
      operationId: getMyPath
      summary: Get the authenticated student's current learning path and progress
      description: |
        Returns the student's active learning path assignment together with the
        progress state of each item. This is the primary endpoint for the SPA's
        main screen.

        Item status values:
        - completed — the student has finished this content node.
        - in_progress — the student has started but not finished this content node.
        - not_started — the student has not yet reached this content node.
        - locked — the student must complete an earlier node before accessing this one.

        Accessible by authenticated users with role student, teacher, or admin,
        returning the caller's own active assignment in every case. Returns 404
        if the caller has no active path assignment.
      tags:
        - Learning Paths
      responses:
        "200":
          description: The caller's current learning path with per-item progress state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentPathView'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: The authenticated caller has no active path assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /users/me:
    get:
      operationId: getMyProfile
      summary: Get the authenticated user's profile
      description: |
        Returns the MotifPath user record associated with the authenticated Clerk
        identity. Returns 404 if the identity has not yet been registered via
        POST /users.
      tags:
        - Identity
      responses:
        "200":
          description: The authenticated user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "401":
          description: |
            Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: |
            No user record exists for this Clerk identity. The caller must
            complete registration via POST /users first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    patch:
      operationId: updateMyLocale
      summary: Set the authenticated user's locale preference
      description: |
        Updates the locale preference on the MotifPath user record associated
        with the authenticated Clerk identity. This is the authenticated
        counterpart to the Accept-Language-header/localStorage preference
        used for anonymous visitors.
      tags:
        - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMyLocaleRequest'
      responses:
        "200":
          description: The updated user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "400":
          description: |
            The request body failed schema validation, or locale is not a
            known language code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: |
            Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: |
            No user record exists for this Clerk identity. The caller must
            complete registration via POST /users first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /healthz:
    get:
      operationId: livenessCheck
      summary: Liveness probe
      description: |
        Returns 200 if the service process is running. Used by the deployment
        platform to determine whether to restart the container. Does not check
        downstream dependencies.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /readyz:
    get:
      operationId: readinessCheck
      summary: Readiness probe
      description: |
        Returns 200 if the service is ready to accept traffic — the learning-graph
        store (holding users, content, and learning paths) and the completion-state
        store (holding aggregated node-completion state) are both reachable. The
        deployment platform withholds traffic until this probe succeeds. Returns 503
        during startup or if a dependency becomes unavailable, with the checks map
        naming the failed dependency.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        "503":
          description: Service is not ready. One or more dependencies are unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Clerk-issued JWT validated locally by the service on every request.
        See ADR-007 for the full validation contract.

  schemas:
    HealthStatus:
      $ref: './components/schemas/health.yaml#/HealthStatus'

    CreateContentNodeRequest:
      type: object
      description: Payload for creating a new content node.
      properties:
        title:
          type: string
          description: Human-readable title of the content node, displayed to students.
        content_type:
          type: string
          enum:
            - video
            - article
          description: The media format of this content node.
        classification:
          $ref: '#/components/schemas/ClassificationInput'
        language_codes:
          type: array
          minItems: 1
          items:
            type: string
          if:
            contains:
              const: any
          then:
            maxItems: 1
          description: |
            One or more Language.code values this content node is available
            in. A single-element array containing "any" marks the content as
            language-agnostic; "any" cannot be combined with other language
            codes in the same array. Must not be empty — a node must be
            explicitly tagged as either specific language(s) or
            language-agnostic, never left unclassified.
      required:
        - title
        - content_type
        - classification
        - language_codes

    ClassificationInput:
      type: object
      description: |
        The three mandatory classification dimensions for a content node. These
        dimensions are the minimum semantic layer required for gap detection and
        the rules-based recommendation engine to function.
      properties:
        skills:
          type: array
          minItems: 1
          items:
            type: string
          description: |
            The observable, practicable skill(s) this content teaches, by name.
            Each must be a short kebab-case tag (e.g. triad-shapes,
            chord-transitions, sweep-picking). A name that doesn't already
            match an existing Skill creates one — there is no separate
            skill-management endpoint. Must not be empty.
        concepts:
          type: array
          minItems: 1
          items:
            type: string
          description: |
            The intellectual concept(s) this content addresses, by name. Each
            must be a short kebab-case tag (e.g. chord-theory,
            interval-recognition, scale-construction). A name that doesn't
            already match an existing Concept creates one. Must not be empty.
        difficulty_level:
          type: string
          enum:
            - beginner
            - early_intermediate
            - intermediate
            - advanced
            - expert
          description: |
            The difficulty level of this content node, ordered beginner <
            early_intermediate < intermediate < advanced < expert.
      required:
        - skills
        - concepts
        - difficulty_level

    Classification:
      allOf:
        - $ref: '#/components/schemas/ClassificationInput'
        - type: object
          description: |
            The classification of a content node including its review state.
            All classifications start as pending and must be confirmed by an
            admin before the content node is considered fully ready.
          properties:
            review_state:
              type: string
              enum:
                - pending
                - confirmed
                - overridden
              description: |
                The review state of this classification. pending — awaiting
                admin review. confirmed — approved as ground truth.
                overridden — a previous classification was corrected by a
                human reviewer.
          required:
            - review_state

    ContentNode:
      type: object
      description: |
        A content node is the base unit of a class — a video or article published
        by a teacher. Its ID is carried in lesson-family tracking events as
        content_node_id.
      properties:
        content_node_id:
          type: string
          format: uuid
          description: Stable identifier for this content node. Used as content_node_id in tracking events.
        teacher_id:
          type: string
          format: uuid
          description: The user_id of the teacher who created this content node.
        title:
          type: string
          description: Human-readable title of the content node.
        content_type:
          type: string
          enum:
            - video
            - article
          description: The media format of this content node.
        classification:
          $ref: '#/components/schemas/Classification'
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
          description: |
            The language(s) this content node is available in, or a single
            "any" entry for language-agnostic content. A student whose locale
            matches none of these (and "any" is absent) sees this node
            locked.
        created_at:
          type: string
          format: date-time
          description: Timestamp at which the content node was created.
      required:
        - content_node_id
        - teacher_id
        - title
        - content_type
        - classification
        - languages
        - created_at

    UpdateContentNodeRequest:
      type: object
      description: |
        Payload for updating an existing content node's title and
        classification. content_type is not present here — it cannot be
        changed after creation.
      properties:
        title:
          type: string
          description: Human-readable title of the content node, displayed to students.
        classification:
          $ref: '#/components/schemas/ClassificationInput'
        language_codes:
          type: array
          minItems: 1
          items:
            type: string
          if:
            contains:
              const: any
          then:
            maxItems: 1
          description: |
            One or more Language.code values this content node is available
            in, replacing its current set. A single-element array containing
            "any" marks the content as language-agnostic; "any" cannot be
            combined with other language codes in the same array. Must not
            be empty.
      required:
        - title
        - classification
        - language_codes

    Skill:
      type: object
      description: |
        An observable, practicable skill a content node can teach. Created
        implicitly the first time its name is used on a ContentNode's
        classification — there is no separate create endpoint.
      properties:
        skill_id:
          type: string
          format: uuid
          description: Stable identifier for this skill.
        name:
          type: string
          description: |
            Short kebab-case tag naming the skill (e.g. triad-shapes,
            sweep-picking). Unique across all skills.
      required:
        - skill_id
        - name

    Concept:
      type: object
      description: |
        An intellectual concept a content node can address. Created
        implicitly the first time its name is used on a ContentNode's
        classification — there is no separate create endpoint.
      properties:
        concept_id:
          type: string
          format: uuid
          description: Stable identifier for this concept.
        name:
          type: string
          description: |
            Short kebab-case tag naming the concept (e.g. chord-theory,
            interval-recognition). Unique across all concepts.
      required:
        - concept_id
        - name

    CreateLearningPathRequest:
      type: object
      description: Payload for creating a learning path.
      properties:
        title:
          type: string
          description: Human-readable name for this learning path, displayed to teachers and admins.
        items:
          type: array
          minItems: 1
          description: Ordered list of content nodes that make up this path. At least one item is required.
          items:
            type: object
            properties:
              content_node_id:
                type: string
                format: uuid
                description: The ID of the content node at this position. Must exist in the system.
              section_label:
                type: string
                description: >-
                  Optional label grouping this item with its immediate
                  neighbors under a named section in the resulting path view.
                  Consecutive items that share the same label render together
                  under that heading in the teacher, admin, and student path
                  views; items with no label, or a different label than their
                  neighbor, render ungrouped. Names a competency or skill
                  area — never a time period or schedule.
            required:
              - content_node_id
      required:
        - title
        - items

    LearningPathItem:
      type: object
      description: A single content node within a learning path at a given position.
      properties:
        position:
          type: integer
          minimum: 1
          description: 1-based position of this item within the learning path.
        content_node_id:
          type: string
          format: uuid
          description: The ID of the content node at this position.
        title:
          type: string
          description: Title of the content node, denormalised for display.
        content_type:
          type: string
          enum:
            - video
            - article
          description: Media format of the content node, denormalised for display.
        section_label:
          type: string
          description: >-
            Optional label grouping this item with its immediate neighbors
            under a named section. Consecutive items that share the same
            label render together under that heading; items with no label,
            or a different label than their neighbor, render ungrouped.
            Names a competency or skill area, not a time period.
      required:
        - position
        - content_node_id
        - title
        - content_type

    LearningPath:
      type: object
      description: An ordered sequence of content nodes assigned to students as a structured curriculum.
      properties:
        learning_path_id:
          type: string
          format: uuid
          description: Stable identifier for this learning path.
        teacher_id:
          type: string
          format: uuid
          description: The user_id of the teacher or admin who created this path.
        title:
          type: string
          description: Human-readable name for this learning path.
        items:
          type: array
          description: Ordered content nodes, sorted by position ascending.
          items:
            $ref: '#/components/schemas/LearningPathItem'
        created_at:
          type: string
          format: date-time
          description: Timestamp at which this learning path was created.
      required:
        - learning_path_id
        - teacher_id
        - title
        - items
        - created_at

    ReplaceLearningPathRequest:
      type: object
      description: |
        Payload for replacing an existing learning path's title and items
        wholesale — the same shape as CreateLearningPathRequest, since a
        change to any single item (add, remove, reorder, relabel) is
        expressed by resending the complete desired items array.
      properties:
        title:
          type: string
          description: Human-readable name for this learning path, displayed to teachers and admins.
        items:
          type: array
          minItems: 1
          description: Ordered list of content nodes that make up this path. At least one item is required.
          items:
            type: object
            properties:
              content_node_id:
                type: string
                format: uuid
                description: The ID of the content node at this position. Must exist in the system.
              section_label:
                type: string
                description: >-
                  Optional label grouping this item with its immediate
                  neighbors under a named section in the resulting path view.
            required:
              - content_node_id
      required:
        - title
        - items

    AssignLearningPathRequest:
      type: object
      description: Payload for assigning a learning path to a student.
      properties:
        learning_path_id:
          type: string
          format: uuid
          description: The ID of the learning path to assign. Must exist in the system.
      required:
        - learning_path_id

    PathAssignment:
      type: object
      description: |
        A record of a learning path being assigned to a student. One active
        assignment exists per student at any time for MVP.
      properties:
        assignment_id:
          type: string
          format: uuid
          description: Stable identifier for this assignment record.
        student_id:
          type: string
          format: uuid
          description: The user_id of the student this path is assigned to.
        learning_path_id:
          type: string
          format: uuid
          description: The learning path assigned to the student.
        assigned_by:
          type: string
          format: uuid
          description: The user_id of the teacher or admin who created this assignment.
        assigned_at:
          type: string
          format: date-time
          description: Timestamp at which the assignment was created.
      required:
        - assignment_id
        - student_id
        - learning_path_id
        - assigned_by
        - assigned_at

    StudentPathItem:
      type: object
      description: A content node in the student's learning path with their current progress state.
      properties:
        position:
          type: integer
          minimum: 1
          description: 1-based position of this item within the learning path.
        content_node_id:
          type: string
          format: uuid
          description: The ID of the content node at this position.
        title:
          type: string
          description: Title of the content node.
        content_type:
          type: string
          enum:
            - video
            - article
          description: Media format of the content node.
        status:
          type: string
          enum:
            - completed
            - in_progress
            - not_started
            - locked
          description: |
            The student's current progress state for this item. completed — finished.
            in_progress — started but not finished. not_started — not yet reached.
            locked — a preceding item must be completed first.
        section_label:
          type: string
          description: >-
            Optional label grouping this item with its immediate neighbors
            under a named section in the student's path view. Consecutive
            items that share the same label render together under that
            heading; items with no label, or a different label than their
            neighbor, render ungrouped. Names a competency or skill area,
            not a time period.
      required:
        - position
        - content_node_id
        - title
        - content_type
        - status

    StudentPathView:
      type: object
      description: |
        The student's active learning path with per-item progress state.
        Returned by GET /students/me/path and used by the SPA to render
        the main learning screen.
      properties:
        assignment_id:
          type: string
          format: uuid
          description: The active assignment record ID.
        learning_path_id:
          type: string
          format: uuid
          description: The assigned learning path ID.
        title:
          type: string
          description: Title of the assigned learning path.
        current_position:
          type: integer
          minimum: 1
          description: |
            The position of the item the student should work on next. Points to
            the first item that is not completed.
        items:
          type: array
          description: All path items with progress state, sorted by position ascending.
          items:
            $ref: '#/components/schemas/StudentPathItem'
      required:
        - assignment_id
        - learning_path_id
        - title
        - current_position
        - items

    CreateExpandedContentRequest:
      type: object
      description: |
        Payload for attaching an expositive item to a content node. The
        trigger and hide fields used depend on the parent content node type:
        video nodes use trigger_at_seconds + hide_at_seconds; article nodes use
        trigger_at_paragraph + duration_ms. Mixing fields across groups is invalid.
        These timing fields apply identically regardless of content_type —
        timing is a property of when the item appears, independent of what
        it contains.
      properties:
        content_type:
          type: string
          enum:
            - image
            - gif
            - rich_text
          description: |
            The format of the expanded content item. image and gif require
            media_url; rich_text requires rich_content instead — the two
            are mutually exclusive.
        media_url:
          type: string
          format: uri
          description: |
            External URL of the image or GIF to display. Required when
            content_type is image or gif; must be absent when content_type
            is rich_text.
        rich_content:
          allOf:
            - $ref: '#/components/schemas/PromptDocument'
          description: |
            Rich content authored with the Tiptap-based content editor,
            which may embed video or audio alongside text and images —
            no separate video/audio content_type is needed. Required when
            content_type is rich_text; must be absent otherwise.
        trigger_at_seconds:
          type: integer
          minimum: 0
          description: |
            Video nodes only. The video timestamp (in seconds) at which to show
            this item. Must be absent for article nodes.
        hide_at_seconds:
          type: integer
          minimum: 0
          description: |
            Video nodes only. The video timestamp (in seconds) at which to hide
            this item. Must be greater than trigger_at_seconds. Must be absent
            for article nodes.
        trigger_at_paragraph:
          type: integer
          minimum: 1
          description: |
            Article nodes only. The 1-based paragraph index at which to show
            this item. Must be absent for video nodes.
        duration_ms:
          type: integer
          minimum: 1
          description: |
            Article nodes only. How long to display this item in milliseconds
            after it is triggered. Must be absent for video nodes.
        caption:
          type: string
          description: Optional caption displayed alongside the item.
      required:
        - content_type

    ExpandedContent:
      type: object
      description: |
        An expositive item (image, GIF, or rich content) attached to a
        content node and shown to the student at a specific point during
        content consumption. For video nodes the item is synced to the
        video timeline; for article nodes it is triggered by paragraph
        position.
      properties:
        expanded_content_id:
          type: string
          format: uuid
          description: Stable identifier for this expanded content item.
        content_node_id:
          type: string
          format: uuid
          description: The content node this item is attached to.
        content_type:
          type: string
          enum:
            - image
            - gif
            - rich_text
          description: |
            The format of this item. image and gif carry media_url;
            rich_text carries rich_content instead.
        media_url:
          type: string
          format: uri
          description: External URL of the image or GIF. Present only when content_type is image or gif.
        rich_content:
          allOf:
            - $ref: '#/components/schemas/PromptDocument'
          description: |
            Rich content authored with the Tiptap-based content editor,
            which may embed video or audio. Present only when content_type
            is rich_text.
        trigger_at_seconds:
          type: integer
          minimum: 0
          description: Video nodes only. Video timestamp (seconds) at which this item is shown.
        hide_at_seconds:
          type: integer
          minimum: 0
          description: Video nodes only. Video timestamp (seconds) at which this item is hidden.
        trigger_at_paragraph:
          type: integer
          minimum: 1
          description: Article nodes only. 1-based paragraph index at which this item is shown.
        duration_ms:
          type: integer
          minimum: 1
          description: Article nodes only. Display duration in milliseconds.
        caption:
          type: string
          description: Optional caption displayed alongside the item.
        created_at:
          type: string
          format: date-time
          description: Timestamp at which this expanded content item was created.
      required:
        - expanded_content_id
        - content_node_id
        - content_type
        - created_at

    UpdateExpandedContentRequest:
      type: object
      description: |
        Payload for replacing an existing expanded content item's content,
        trigger/hide position, and caption. Same trigger/hide field-group
        rules as CreateExpandedContentRequest apply, keyed off the parent
        content node's type (seconds-based for video, paragraph-based for
        article) — the parent content node's own type cannot change, so
        which trigger group is valid is unchanged by this update. The
        item's own content_type (image/gif/rich_text) may change.
      properties:
        content_type:
          type: string
          enum:
            - image
            - gif
            - rich_text
          description: |
            The format of the expanded content item. image and gif require
            media_url; rich_text requires rich_content instead.
        media_url:
          type: string
          format: uri
          description: |
            External URL of the image or GIF to display. Required when
            content_type is image or gif; must be absent when content_type
            is rich_text.
        rich_content:
          allOf:
            - $ref: '#/components/schemas/PromptDocument'
          description: |
            Rich content authored with the Tiptap-based content editor.
            Required when content_type is rich_text; must be absent
            otherwise.
        trigger_at_seconds:
          type: integer
          minimum: 0
          description: Video nodes only. Must be absent for article nodes.
        hide_at_seconds:
          type: integer
          minimum: 0
          description: |
            Video nodes only. Must be greater than trigger_at_seconds. Must
            be absent for article nodes.
        trigger_at_paragraph:
          type: integer
          minimum: 1
          description: Article nodes only. Must be absent for video nodes.
        duration_ms:
          type: integer
          minimum: 1
          description: Article nodes only. Must be absent for video nodes.
        caption:
          type: string
          description: Optional caption displayed alongside the item.
      required:
        - content_type

    CreateChallengeRequest:
      type: object
      description: Payload for creating a challenge within a content node.
      properties:
        subject_tag:
          type: string
          description: |
            The subject this challenge assesses. Must match the name of one
            of the parent content node's linked skills or concepts. This tag
            is the minimum required for gap detection — a challenge without a
            subject tag produces analytically meaningless outcomes.
        pass_threshold:
          type: integer
          minimum: 1
          maximum: 100
          description: |
            The minimum score (as a percentage of exercises answered correctly)
            required to pass this challenge.
        time_threshold_ms:
          type: integer
          minimum: 1
          description: |
            An informational time expectation for this challenge, in
            milliseconds. Purely advisory — never enforced, never affects
            scoring or submission. When omitted, the value returned by
            GET/list endpoints is computed as the sum of the challenge's
            currently linked exercises' estimated_duration_seconds
            (converted to milliseconds; an exercise with no estimate
            contributes 0), recomputed on every read rather than stored, so
            it always reflects the challenge's current exercise links. Set
            this explicitly to override that computed value with the
            teacher's own estimate.
        shuffle_exercises:
          type: boolean
          default: false
          description: |
            When true, the order in which this challenge's exercises are
            returned varies per request. When false, exercises are always
            returned in link order. Defaults to false — an assessment the
            teacher wants comparable across attempts should keep a fixed order.
        shuffle_options:
          type: boolean
          default: false
          description: |
            When true, each returned exercise's options are reordered per
[...]
