openapi: 3.1.0

info:
  title: Core Domain Service
  version: 0.24.0
  license:
    name: Proprietary — MotifPath internal use only
    identifier: UNLICENSED
  description: |
    Manages the MotifPath core domain: user identity, content (nodes, challenges,
    exercises), learning paths, and student progress state.

    This service is the authoritative source for all domain entities referenced by
    other services. The Event Ingestion Service validates student identity against
    user records created here. All content IDs carried in tracking events
    (content_node_id, challenge_id, exercise_id) must exist in this service before
    events that reference them are meaningful.

servers:
  - url: https://api.motifpath.io/v1
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - BearerAuth: []

paths:
  /users:
    post:
      operationId: registerUser
      summary: Register an authenticated user
      description: |
        Creates a MotifPath user record for the authenticated Clerk identity. The
        caller supplies their intended role (student or teacher); the service maps
        the JWT sub claim to a new user_id and persists the record.

        The user's display name is taken from the "name" claim of the Clerk
        session token (trimmed, at most 200 characters), never from the
        request body. A token without a non-blank name claim is rejected
        with 400 on field "name". On every later authenticated request the
        stored name is refreshed when the claim differs from it; a missing
        or blank claim on a later request leaves the stored name unchanged.

        This endpoint must be called once per Clerk identity before any other
        authenticated operation. Subsequent calls with the same JWT sub return 409.

        The user_id returned in the response is the stable MotifPath identity for
        this user. Students must use this value as the student_id field in all
        tracking events submitted to the Event Ingestion Service.
      tags:
        - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
            examples:
              register_student:
                summary: A new student registers
                value:
                  role: student
              register_teacher:
                summary: A new teacher registers
                value:
                  role: teacher
      responses:
        "201":
          description: |
            User registered. Returns the new user's stable MotifPath identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "400":
          description: |
            The request is invalid. The role field is missing or contains an
            unrecognised value (field "role"), or the session token carries no
            non-blank name claim (field "name").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: |
            Missing or invalid Bearer token. The caller must be authenticated via
            Clerk before registering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "409":
          description: |
            A user record already exists for this Clerk identity. Each Clerk
            account can be registered only once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /content-nodes:
    get:
      operationId: listContentNodes
      summary: List content nodes for authoring
      description: |
        Returns content nodes from the library, for browsing and picking one
        to edit, use as a remediation target, or add to a learning path —
        not a student-facing catalog.
        Results are paginated (ADR-031): ordered by title, then id and
        returned in a {items, total, limit, offset} envelope. An offset
        past the end returns an empty items array, not an error.
        Only teachers and admins may list content nodes.
      tags:
        - Content
      parameters:
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: content_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - video
              - article
          description: When given, only content nodes of this type are returned.
        - name: skill_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: When given, only content nodes with this exact skill id among their linked skills are returned. Matches that node only, not its ancestors or descendants.
        - name: concept_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: When given, only content nodes with this exact concept id among their linked concepts are returned. Matches that node only, not its ancestors or descendants.
        - name: difficulty_level
          in: query
          required: false
          schema:
            type: string
            enum:
              - beginner
              - early_intermediate
              - intermediate
              - advanced
              - expert
          description: When given, only content nodes at this difficulty level are returned.
        - name: instrument_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: >-
            Restricts the results to items for this instrument, or for
            every instrument (an empty instrument_ids).
      responses:
        "200":
          description: One page of the matching content nodes, possibly empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedContentNodes'
        "400":
          description: limit or offset is out of range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to list content
            nodes. Only teachers and admins may list content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createContentNode
      summary: Create a content node
      description: |
        Creates a new content node owned by the authenticated teacher or admin.
        A content node is the base unit of a class — a video or article that a
        student consumes on their learning path.

        Classification (skills, concepts, difficulty level) must be supplied at
        creation time. The review_state is always set to pending on creation
        regardless of the value supplied; an admin must explicitly confirm it.
        Classification is the minimum semantic layer required for gap detection
        to function.

        The node's actual content is supplied by exactly one of media_url
        (video) or rich_content (article), matching content_type — these are
        mutually exclusive and whichever matches content_type is required. A
        diagram is not a content node type of its own — embed one inline in
        rich_content via a PromptNode, or attach it as an ExpandedContent
        item, either alongside media_url or rich_content.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentNodeRequest'
            examples:
              video_lesson:
                summary: A teacher publishes a video lesson on triad shapes
                value:
                  title: "Introduction to Triad Shapes"
                  content_type: video
                  classification:
                    skill_ids: ["3f4b6f2a-8c3e-4b1a-9d2e-7a1c5f0e9b21"]
                    concept_ids: ["7a2d9e10-4f3b-4c5a-8e6d-1b2c3d4e5f60"]
                    difficulty_level: beginner
                  media_url: "https://cdn.motifpath.io/videos/triad-shapes-intro.mp4"
                  instrument_ids:
                    - "5b1a2c3d-0000-0000-0000-000000000001"
                  language_codes:
                    - en
      responses:
        "201":
          description: Content node created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create content.
            Only teachers and admins may create content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /content-nodes/{content_node_id}:
    get:
      operationId: getContentNode
      summary: Get a content node by ID
      description: |
        Returns the content node with the given ID. Any authenticated user
        (student, teacher, or admin) may retrieve a content node.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to retrieve.
      responses:
        "200":
          description: The requested content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateContentNode
      summary: Update a content node's title and classification
      description: |
        Replaces the given content node's title and classification with the
        request body. content_type cannot be changed — it determines which
        expanded-content trigger fields (seconds vs. paragraph) are valid for
        items already attached to this node, so changing it would leave those
        items in an inconsistent shape; publish a new content node of the
        desired type instead. review_state is not affected by this call — an
        edit does not reset or require re-confirming an admin's prior review.
        Only the creating teacher or an admin may update a content node.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContentNodeRequest'
      responses:
        "200":
          description: The updated content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            content node. Only the creating teacher or an admin may update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The new instrument_ids would leave an exercise linked to this
            node — as a path exercise or through one of its challenges —
            unsuited to it (see Exercise.instrument_ids). Unlink it first, or
            keep an instrument the exercise is for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /content-nodes/{content_node_id}/publish:
    post:
      operationId: publishContentNode
      summary: Publish a content node's current draft
      description: |
        Snapshots the content node's current reader-facing state — title,
        classification, and whichever of media_url or rich_content applies,
        plus languages — into
        a new immutable ContentNodeVersion, and advances the node's
        latest_published_version to it. Every future copy of an item
        referencing this node (into a StudentPathItem, at assignment,
        enrollment, or checkpoint advance) resolves to this version
        until a newer one is published. Already-copied StudentPathItems
        keep the version they were copied at; they are never
        retargeted. Same authorisation as content node authoring — not
        admin-only, since nodes are not student-browsable the way a
        course is.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to publish.
      responses:
        "201":
          description: The new ContentNodeVersion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNodeVersion'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            Only the creating teacher or an admin may publish this
            content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/versions:
    get:
      operationId: listContentNodeVersions
      summary: List a content node's published version history
      description: |
        Returns every ContentNodeVersion the node has ever been
        published as, newest first. A node that has never been
        published returns an empty array. Same authorisation as
        publishing — the creating teacher or an admin.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose history to list.
      responses:
        "200":
          description: The node's versions, newest first, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentNodeVersion'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            Only the creating teacher or an admin may view this
            content node's version history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/challenges:
    get:
      operationId: listContentNodeChallenges
      summary: List the challenges attached to a content node
      description: |
        Returns the challenges attached to the specified content node, so a client
        can discover whether a node has a practice step before linking into it. A
        node with no challenge returns an empty array — completion for that node
        comes from its content alone. Any authenticated user may list a node's
        challenges.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose challenges are requested.
      responses:
        "200":
          description: The content node's challenges, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Challenge'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      operationId: createChallenge
      summary: Create a challenge for a content node
      description: |
        Creates a new challenge attached to the specified content node. A challenge
        is the assessment unit for a class — it groups exercises and carries the
        subject (a skill- or concept-kind KnowledgeNode) and pass threshold used by the
        rules-based recommendation engine, plus an optional, purely informational
        time threshold.

        A subject is mandatory — exactly one of subject_skill_id/subject_concept_id,
        referencing one of the parent content node's linked skill_ids/concept_ids.
        Without it, right/wrong outcomes on exercises are analytically meaningless
        and gap detection cannot function. Remediation targets are configured per
        exercise, not on the challenge — see Exercise.remediation_targets.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node this challenge belongs to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
            examples:
              chord_recognition:
                summary: A challenge for chord recognition with an explicit time threshold
                value:
                  subject_skill_id: "3f4b6f2a-8c3e-4b1a-9d2e-7a1c5f0e9b21"
                  pass_threshold: 70
                  time_threshold_ms: 120000
      responses:
        "201":
          description: Challenge created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create challenges.
            Only teachers and admins may create challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /challenges/{challenge_id}:
    get:
      operationId: getChallenge
      summary: Get a challenge by ID
      description: |
        Returns the challenge with the given ID. Any authenticated user may
        retrieve a challenge.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to retrieve.
      responses:
        "200":
          description: The requested challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No challenge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateChallenge
      summary: Update a challenge's assessment configuration
      description: |
        Replaces the given challenge's subject tag, pass threshold, time
        threshold, and shuffle flags with the request body. The challenge's
        linked exercises are untouched by this call — use POST/DELETE
        /challenges/{challenge_id}/exercises/{exercise_id} to change those.
        Remediation targets are configured per exercise, not on the
        challenge — see updateExercise. Only the creating teacher or an
        admin may update a challenge.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChallengeRequest'
      responses:
        "200":
          description: The updated challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            challenge. Only the creating teacher or an admin may update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No challenge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises:
    get:
      operationId: listExercises
      summary: List standalone exercises for authoring
      description: |
        Returns exercises from the reusable pool, for browsing and picking one
        to edit in an authoring tool.
        Results are paginated (ADR-031): ordered by id and
        returned in a {items, total, limit, offset} envelope. An offset
        past the end returns an empty items array, not an error.
        Only teachers and admins may list exercises; the pool is an
        authoring surface, not a student-facing catalog. Every teacher sees
        the whole pool, whoever created each exercise.
        Every filter below is optional and they combine with AND.
      tags:
        - Content
      parameters:
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: skill_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: |
            When given, only exercises linked to this exact skill id are
            returned.
        - name: concept_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: |
            When given, only exercises linked to this exact concept id are
            returned.
        - name: language
          in: query
          required: false
          schema:
            type: string
          description: |
            Restricts the results to exercises written in this language (a
            Language.code other than "any").
        - name: created_by
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Restricts the results to exercises created by this user. An
            exercise with no recorded creator (created before creators were
            recorded) never matches. GET /exercises/creators lists the
            creators to offer.
        - name: exercise_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - text_response
              - audio_recognition
              - image_recognition
              - image_choice
              - audio_selection
          description: When given, only exercises of this type are returned.
        - name: instrument_id
          in: query
          required: false
          style: form
          explode: true
          description: |
            Return only exercises for at least one of these instruments —
            those that list any of them in instrument_ids, plus those for
            every instrument (an empty instrument_ids). Repeat the parameter
            for several instruments. Omit for exercises of every scope.
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        "200":
          description: One page of the matching exercises, possibly empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedExercises'
        "400":
          description: |
            limit or offset is out of range, or an instrument_id is not a
            valid uuid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to list exercises.
            Only teachers and admins may list exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createExercise
      summary: Create a standalone exercise
      description: |
        Creates a reusable exercise, independent of any challenge. An exercise
        is a single practice item, checked by option selection: the student's
        selected option ID(s) must match the option(s) marked is_correct. The
        exercise_id returned is the value the SPA must supply in
        exercise-family tracking events. Link the exercise into one or more
        challenges afterward with
        POST /challenges/{challenge_id}/exercises/{exercise_id}.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExerciseRequest'
            examples:
              image_recognition:
                summary: A fretboard region identification exercise
                value:
                  title: "Root position of a C major triad"
                  prompt:
                    type: doc
                    content:
                      - type: paragraph
                        content:
                          - type: text
                            text: "Identify the root position of a C major triad"
                  exercise_type: image_recognition
                  skill_ids:
                    - "3f4b6f2a-8c3e-4b1a-9d2e-7a1c5f0e9b21"
                  concept_ids:
                    - "7a2d9e10-4f3b-4c5a-8e6d-1b2c3d4e5f60"
                  image_url: "https://cdn.example.com/fretboard/c-major-triad.png"
                  options:
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000001"
                      is_correct: true
                      region:
                        x: 0.2
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000002"
                      is_correct: false
                      region:
                        x: 0.5
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
                  language_codes:
                    - any
      responses:
        "201":
          description: Exercise created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "400":
          description: |
            The request body failed schema validation, no option has
            is_correct set to true, an instrument_ids entry does not
            reference an existing instrument, or a skill or concept does not
            suit the exercise's instruments (see CreateExerciseRequest) —
            reported against skill_ids or concept_ids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create exercises.
            Only teachers and admins may create exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /challenges/{challenge_id}/exercises:
    get:
      operationId: listChallengeExercises
      summary: List the exercises linked to a challenge
      description: |
        Returns the exercises currently linked to the specified challenge, in the
        shape a client needs to run a practice attempt — each exercise's prompt,
        type, and options, including which option(s) are correct. Any authenticated
        user may list a challenge's exercises; the client is responsible for
        withholding correctness from the student's own view while the attempt is
        in progress and using it only to score the attempt once submitted.

        Exercise and option order follow the challenge's shuffle_exercises and
        shuffle_options settings — when either is true, that ordering is
        randomized fresh on every call and is not stable across requests.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge whose exercises are requested.
      responses:
        "200":
          description: The challenge's linked exercises, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No challenge exists with the given challenge_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /challenges/{challenge_id}/exercises/{exercise_id}:
    post:
      operationId: linkExerciseToChallenge
      summary: Link an existing exercise to a challenge
      description: |
        Links an existing, standalone exercise into the specified challenge.
        The same exercise may be linked to any number of challenges — linking
        it into a second challenge does not duplicate the exercise or affect
        its other links.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to link the exercise into.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to link.
      responses:
        "201":
          description: Exercise linked. Returns the updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to link exercises.
            Only teachers and admins may link exercises to challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No challenge exists with challenge_id, or no exercise exists with exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The exercise is already linked to this challenge, or it does not
            suit the instruments of the challenge's content node (see
            Exercise.instrument_ids).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: unlinkExerciseFromChallenge
      summary: Unlink an exercise from a challenge
      description: |
        Removes the link between the specified exercise and challenge. The
        exercise itself is not deleted and remains linked to any other
        challenges it is part of.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to unlink the exercise from.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to unlink.
      responses:
        "204":
          description: Exercise unlinked.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to unlink exercises.
            Only teachers and admins may unlink exercises from challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            No challenge exists with challenge_id, no exercise exists with
            exercise_id, or the exercise is not currently linked to this
            challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/exercises:
    get:
      operationId: listContentNodePathExercises
      summary: List a content node's path exercises
      description: |
        Returns the exercises linked to the specified content node as path
        exercises — the static, teacher-curated introductory practice for that
        node. Unlike a challenge, a path exercise is not an assessment: it
        carries no pass threshold and is always returned in link order, never
        shuffled. Any authenticated user may list a node's path exercises.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose path exercises are requested.
      responses:
        "200":
          description: The node's path exercises, in link order, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/exercises/{exercise_id}:
    post:
      operationId: linkExerciseToContentNode
      summary: Link an existing exercise to a content node as a path exercise
      description: |
        Links an existing, standalone exercise into the specified content node
        as a path exercise. The same exercise may be linked as a path exercise
        on any number of nodes, and independently linked into any number of
        challenges — these are separate relationships.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to link the exercise into.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to link.
      responses:
        "201":
          description: Exercise linked. Returns the updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to link exercises.
            Only teachers and admins may link exercises to content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with content_node_id, or no exercise exists with exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The exercise is already linked to this content node, or it does
            not suit the node's instruments (see Exercise.instrument_ids).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: unlinkExerciseFromContentNode
      summary: Unlink an exercise from a content node
      description: |
        Removes the path-exercise link between the specified exercise and
        content node. The exercise itself is not deleted and remains linked to
        any other nodes or challenges it is part of.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to unlink the exercise from.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to unlink.
      responses:
        "204":
          description: Exercise unlinked.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to unlink exercises.
            Only teachers and admins may unlink exercises from content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            No content node exists with content_node_id, no exercise exists
            with exercise_id, or the exercise is not currently linked to this
            content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/expanded-content:
    post:
      operationId: createExpandedContent
      summary: Add an expanded content item to a content node
      description: |
        Attaches an expositive item (image, GIF, or rich content) to a
        content node. The item is shown to the student at a specific point
        during consumption — at a video timestamp for video nodes, or at a
        paragraph position for article nodes.

        **Trigger and hide rules by content node type:**

        - **video**: `trigger_at_seconds` is required. `hide_at_seconds` must be
          provided and must be greater than `trigger_at_seconds`. `trigger_at_paragraph`
          and `duration_ms` must be absent.
        - **article**: `trigger_at_paragraph` is required (1-based index). `duration_ms`
          must be provided (minimum 1 ms). `trigger_at_seconds` and `hide_at_seconds`
          must be absent.

        These timing rules apply the same way regardless of content_type.

        **Content rules by content_type:** `image` and `gif` require `media_url`
        and must not carry any of `rich_content`, `diagram_ref`, or
        `diagram_stack_ref`. `rich_text` requires `rich_content` and must not
        carry the others — video, audio, or diagram embeds go inside the rich
        content itself, there is no separate `video`/`audio` content_type, and
        an *inline* diagram belongs there too (see PromptNode) rather than as
        its own content_type. `diagram` requires exactly one of `diagram_ref`
        or `diagram_stack_ref` and must not carry `media_url` or
        `rich_content` — this is for a diagram shown as a *triggered overlay*
        at a specific timestamp or paragraph, not an inline one.

        These constraints are enforced at write time. A request that mixes fields
        from either the timing group (trigger/hide) or the content group
        (media_url/rich_content/diagram_ref/diagram_stack_ref) is rejected
        with 400.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to attach the expanded content to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpandedContentRequest'
            examples:
              video_chord_diagram:
                summary: A chord diagram shown at a specific moment in a video lesson
                value:
                  content_type: image
                  media_url: "https://cdn.example.com/diagrams/c-major-triad.png"
                  trigger_at_seconds: 150
                  hide_at_seconds: 165
                  caption: "C major triad — root position"
              article_gif:
                summary: An animated GIF shown when the student reaches paragraph 3 of an article
                value:
                  content_type: gif
                  media_url: "https://cdn.example.com/animations/finger-placement.gif"
                  trigger_at_paragraph: 3
                  duration_ms: 8000
                  caption: "Correct finger placement for the first chord"
      responses:
        "201":
          description: Expanded content item created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "400":
          description: |
            The request body failed schema validation, the trigger/hide field
            combination is inconsistent with the parent content node type, or
            the media_url/rich_content combination is inconsistent with
            content_type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to add expanded content.
            Only teachers and admins may add expanded content to a content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    get:
      operationId: listExpandedContent
      summary: List all expanded content items for a content node
      description: |
        Returns all expanded content items attached to the specified content node,
        ordered by trigger position (trigger_at_seconds ascending for video,
        trigger_at_paragraph ascending for article). Any authenticated user may
        retrieve this list.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose expanded content to list.
      responses:
        "200":
          description: Ordered list of expanded content items for the content node.
          content:
            application/json:
              schema:
                type: object
                description: Paginated list of expanded content items.
                properties:
                  items:
                    type: array
                    description: Expanded content items ordered by trigger position.
                    items:
                      $ref: '#/components/schemas/ExpandedContent'
                  total:
                    type: integer
                    description: Total number of expanded content items for this content node.
                required:
                  - items
                  - total
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /expanded-content/{expanded_content_id}:
    get:
      operationId: getExpandedContent
      summary: Get an expanded content item by ID
      description: |
        Returns the expanded content item with the given ID. Any authenticated
        user may retrieve an expanded content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to retrieve.
      responses:
        "200":
          description: The requested expanded content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateExpandedContent
      summary: Update an expanded content item
      description: |
        Replaces the given expanded content item's media, trigger/hide
        position, and caption with the request body. The same trigger/hide
        field-group rules as POST .../expanded-content apply, validated
        against the parent content node's type. Only the creating teacher or
        an admin may update an expanded content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpandedContentRequest'
      responses:
        "200":
          description: The updated expanded content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "400":
          description: |
            The request body failed schema validation, the trigger/hide
            field combination is inconsistent with the parent content node
            type, or the media_url/rich_content combination is inconsistent
            with content_type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update this
            expanded content item. Only the creating teacher or an admin may
            update it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      operationId: deleteExpandedContent
      summary: Delete an expanded content item
      description: |
        Permanently removes the given expanded content item from its content
        node. Only the creating teacher or an admin may delete an expanded
        content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to delete.
      responses:
        "204":
          description: The expanded content item was deleted.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to delete this
            expanded content item. Only the creating teacher or an admin may
            delete it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises/creators:
    get:
      operationId: listExerciseCreators
      summary: List the creators of the exercises in the pool
      description: |
        Returns every distinct user who created at least one exercise, so a
        picker can offer a complete creator filter (the created_by
        parameter of GET /exercises) without paging. Exercises with no
        recorded creator contribute nobody. Only teachers and admins may
        list exercise creators, as with the pool itself.

        The list is unpaginated: it is bounded by the number of teachers
        and admins, not by the number of exercises. Results are always
        ordered by display_name, alphabetically as a person reads names —
        ignoring case and accents, so "Álvaro" sorts with the A's — then
        by user_id; an empty array means no creator matches.
      tags:
        - Content
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 200
          description: >-
            Restricts the results to creators whose display_name contains
            this text, ignoring case and accents ("jose" matches "José").
      responses:
        "200":
          description: The creators of the exercises in the pool, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRef'
        "400":
          description: q is out of range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The caller is a student.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /exercises/{exercise_id}:
    get:
      operationId: getExercise
      summary: Get an exercise by ID
      description: |
        Returns the exercise with the given ID, including its options and
        the challenges it is currently linked to. Any authenticated user may
        retrieve an exercise.
      tags:
        - Content
      parameters:
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to retrieve.
      responses:
        "200":
          description: The requested exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No exercise exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    put:
      operationId: updateExercise
      summary: Replace an exercise's authored content
      description: |
        Replaces the given exercise's title, prompt, skills, concepts,
        stimulus media, options, and estimated duration with the request body.
        exercise_type cannot be changed — an exercise's type determines its
        option shape (region vs. text vs. image), so changing it would leave
        existing options in an inconsistent shape; author a new exercise of
        the desired type instead. The exercise's links to challenges and
        content nodes are untouched by this call. Only teachers and admins
        may update an exercise.
      tags:
        - Content
      parameters:
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExerciseRequest'
      responses:
        "200":
          description: The updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "400":
          description: |
            The request body failed schema validation, no option has
            is_correct set to true, an instrument_ids entry does not
            reference an existing instrument, or a skill or concept does not
            suit the instruments the exercise has after the update (see
            UpdateExerciseRequest) — reported against skill_ids or
            concept_ids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to update exercises.
            Only teachers and admins may update exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No exercise exists with the given exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The new instrument_ids would leave the exercise unsuited to a
            content node it is linked to, as a path exercise or through one
            of the node's challenges (see Exercise.instrument_ids). Unlink it
            first, or keep an instrument the node is for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /media/upload-url:
    post:
      operationId: createMediaUploadUrl
      summary: Request a presigned URL to upload a content-authoring media asset
      description: |
        Issues a short-lived presigned URL the caller uploads a file to directly
        (object storage — S3 in production, MinIO in local development), without
        proxying the file's bytes through this service. The response also returns
        the object's eventual read URL, which the caller stores in the relevant
        `media_url` / `image_url` / `audio_url` field once the upload completes.

        This endpoint does not verify the upload happened — the presigned URL
        itself enforces who may write to the target object, and for how long.
        Callers are responsible for actually performing the PUT before the
        returned `expires_at`.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaUploadUrlRequest'
            examples:
              exercise_prompt_image:
                summary: An image for a specific exercise's prompt or option
                value:
                  purpose: exercise_asset
                  exercise_id: "550e8400-e29b-41d4-a716-446655440000"
                  content_type: image
                  file_name: "descending-run-diagram.png"
              library_image:
                summary: A new image added to the shared, predefined image-picker library
                value:
                  purpose: library_asset
                  content_type: image
                  file_name: "c-major-scale-fretboard.png"
      responses:
        "201":
          description: Presigned upload URL issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadUrl'
        "400":
          description: |
            The request body failed schema validation, or purpose is
            exercise_asset without an exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to upload
            content-authoring media. Only teachers and admins may request an
            upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: purpose is exercise_asset but no exercise exists with the given exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /knowledge-nodes:
    get:
      operationId: listKnowledgeNodes
      summary: List knowledge nodes
      description: |
        Returns every KnowledgeNode (skill or concept) as a flat list,
        sorted by key — the shape a client needs both to render each kind's
        tree and to resolve any node's breadcrumb by walking parent_id.
        Clients sort siblings by the name they display, since names are
        localized. Any authenticated user may list knowledge nodes.
      tags:
        - Content
      parameters:
        - name: kind
          in: query
          required: false
          description: Return only nodes of this kind. Omit for both kinds.
          schema:
            $ref: '#/components/schemas/KnowledgeNodeKind'
        - name: instrument_id
          in: query
          required: false
          style: form
          explode: true
          description: |
            Return only nodes for at least one of these instruments — those
            that list any of them in instrument_ids, plus those for every
            instrument (an empty instrument_ids). Repeat the parameter for
            several instruments, as an authoring screen does for content
            meant for more than one. Omit for nodes of every scope.
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        "200":
          description: The matching knowledge nodes, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeNode'
        "400":
          description: kind is not a recognised KnowledgeNodeKind, or an instrument_id is not a UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

    post:
      operationId: createKnowledgeNode
      summary: Create a knowledge node
      description: |
        Creates a skill or concept, either as a root (parent_id omitted) or
        under an existing node of the same kind. Only admins may create a
        node: the team curates the knowledge graph, and teachers classify
        content by picking existing nodes.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKnowledgeNodeRequest'
      responses:
        "201":
          description: Knowledge node created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeNode'
        "400":
          description: |
            The request body failed validation — including a key that is not
            lowercase kebab-case, names or descriptions missing a language,
            carrying "any" or an unknown language code, or holding a blank
            value, a parent_id that does not reference an existing node or
            references a node of the other kind, an instrument_ids entry
            that does not reference an existing instrument or repeats, or
            instrument_ids wider than the parent's (a child is never for an
            instrument its parent is not for; a child of a parent for
            specific instruments cannot be for every instrument).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to create a knowledge node. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "409":
          description: Another knowledge node already has this key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /knowledge-nodes/{node_id}:
    parameters:
      - name: node_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getKnowledgeNode
      summary: Get a knowledge node
      description: Returns one knowledge node. Any authenticated user may read it.
      tags:
        - Content
      responses:
        "200":
          description: The knowledge node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeNode'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No knowledge node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    patch:
      operationId: updateKnowledgeNode
      summary: Rename, describe or move a knowledge node
      description: |
        Changes a node's names, descriptions or parent. A field left out is
        unchanged. kind and key never change. Moving a node takes its whole
        subtree with it, and is refused when the new parent is the node
        itself or one of its descendants. Only admins may update a node.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKnowledgeNodeRequest'
      responses:
        "200":
          description: Knowledge node updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeNode'
        "400":
          description: |
            The request body failed validation — including names or
            descriptions missing a language, carrying "any" or an unknown
            language code, or holding a blank value, a parent_id that does
            not reference an existing node or references a node of the other
            kind, an instrument_ids entry that does not reference an
            existing instrument or repeats, or a result where the node is
            wider than its parent — reported against instrument_ids when the
            request changes them, otherwise against parent_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to update a knowledge node. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No knowledge node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The new parent is the node itself or one of its descendants, so
            the move would create a cycle; or the new instrument_ids would
            leave out an instrument of content, an exercise or a diagram
            classified under this node, or of one of its children.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: deleteKnowledgeNode
      summary: Delete a knowledge node
      description: |
        Deletes a node that nothing depends on. The delete is refused while
        the node has children, takes part in any knowledge edge, classifies
        any content node, exercise or diagram, or is the subject of a
        challenge — remove those first. Only admins may delete a node.
      tags:
        - Content
      responses:
        "204":
          description: Knowledge node deleted.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to delete a knowledge node. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No knowledge node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: |
            The node is still in use — it has children, takes part in a
            knowledge edge, classifies content, an exercise or a diagram, or
            is a challenge's subject. The message says which.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /knowledge-edges:
    get:
      operationId: listKnowledgeEdges
      summary: List knowledge edges
      description: |
        Returns the knowledge edges matching every filter given, or all of
        them when none is. Any authenticated user may list edges.
      tags:
        - Content
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/KnowledgeEdgeType'
        - name: from_id
          in: query
          required: false
          description: Only edges leaving this node.
          schema:
            type: string
            format: uuid
        - name: to_id
          in: query
          required: false
          description: Only edges arriving at this node.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The matching knowledge edges, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeEdge'
        "400":
          description: type is not a recognised KnowledgeEdgeType, or from_id/to_id is not a UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

    post:
      operationId: createKnowledgeEdge
      summary: Link two knowledge nodes
      description: |
        Creates an applies edge (a skill uses a concept) or a requires edge
        (a node needs another at a mastery level). Only admins may create
        an edge.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKnowledgeEdgeRequest'
      responses:
        "201":
          description: Knowledge edge created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeEdge'
        "400":
          description: |
            The request body failed validation — including from_id or to_id
            not referencing an existing node, from_id equal to to_id, an
            applies edge that is not skill → concept, an applies edge with a
            level, or a requires edge without one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to create a knowledge edge. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "409":
          description: |
            An edge of this type already links these two nodes in this
            direction, or the requires edge would close a cycle of requires
            edges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /knowledge-edges/{edge_id}:
    parameters:
      - name: edge_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      operationId: updateKnowledgeEdge
      summary: Change a requires edge's level
      description: |
        Changes the mastery level a requires edge asks for. The nodes and
        type of an edge never change — delete it and create another. Only
        admins may update an edge.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKnowledgeEdgeRequest'
      responses:
        "200":
          description: Knowledge edge updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeEdge'
        "400":
          description: The level is not a recognised MasteryLevel, or the edge is an applies edge, which has no level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to update a knowledge edge. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No knowledge edge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    delete:
      operationId: deleteKnowledgeEdge
      summary: Delete a knowledge edge
      description: Removes the edge. Only admins may delete an edge.
      tags:
        - Content
      responses:
        "204":
          description: Knowledge edge deleted.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to delete a knowledge edge. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No knowledge edge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /instruments:
    get:
      operationId: listInstruments
      summary: List all known instruments
      description: |
        Returns every Instrument currently known to the system. Any
        authenticated user may list instruments.
      tags:
        - Content
      responses:
        "200":
          description: All known instruments, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

    post:
      operationId: createInstrument
      summary: Create an instrument
      description: |
        Creates a new instrument. Only teachers and admins may create an
        instrument — instruments are an authoring surface, expected to be
        created rarely.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstrumentRequest'
      responses:
        "201":
          description: Instrument created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        "400":
          description: |
            The request body failed schema validation — including
            string_count/tuning present with family keyboard, key_range
            present with family fretted, the matching field-group missing
            for the given family, a tuning entry without its octave, a
            default_voice_id that is not an existing voice of the
            instrument's family, or names missing a language, carrying
            "any" or an unknown language code, or holding an empty name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to create an instrument. Only teachers and admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /instruments/{instrument_id}:
    patch:
      operationId: updateInstrument
      summary: Replace an instrument's names, default voice and icon
      description: |
        Replaces an instrument's names and, optionally, its default voice and
        its icon — the only parts of an instrument that can change after
        creation.
        family and the string/key shape (tuning included) are fixed,
        because every diagram's positions depend on them. Only admins
        may update an instrument, since instruments are shared by every user
        of the platform.
      tags:
        - Content
      parameters:
        - name: instrument_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInstrumentRequest'
      responses:
        "200":
          description: Instrument updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        "400":
          description: |
            The request body failed validation — including names missing a
            language, carrying "any" or an unknown language code, a name
            that is empty, a default_voice_id that is not an existing voice
            of the instrument's family, or an icon that is not a key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The authenticated user does not have permission to update an instrument. Only admins may.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No instrument exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /voices:
    get:
      operationId: listVoices
      summary: List the voices diagrams can be played with
      description: |
        Returns every voice the platform provides — the sampled sounds a
        diagram's sequence can be played with. Any authenticated user may
        list voices, since students need them to play diagrams.
      tags:
        - Content
      responses:
        "200":
          description: Every voice, ordered by voice_id.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Voice'
        "400":
          description: The request is malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /diagrams:
    get:
      operationId: listDiagrams
      summary: List prebuilt diagrams for authoring
      description: |
        Returns diagrams from the reusable library, for browsing and
        picking one to attach to a content node or exercise, or to open as
        the starting point of a new one. Only teachers and admins may list
        diagrams; students never browse the library, and read the diagrams
        embedded in their content by id instead.

        Which diagrams a caller sees depends on their role. A teacher sees
        every basic diagram plus the custom diagrams they created
        themselves, never another teacher's custom diagrams. An admin sees
        every diagram.

        Filters only ever narrow what the caller can see. created_by may
        name any user: a teacher who passes another teacher's user_id gets
        none of that teacher's custom diagrams, but does get the basic
        diagrams that user created. GET /diagrams/creators lists the
        creators to offer.

        Results are paginated in a {items, total, limit, offset} envelope,
        ordered by the name the caller sees — the diagram's name in the
        caller's locale, else its English name, else its name in the
        alphabetically first language it has — then by id; an offset past
        the end returns an empty items array. Every filter below is
        optional and they combine with AND.
      tags:
        - Content
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: language
          in: query
          required: false
          schema:
            type: string
          description: |
            Restricts the results to diagrams with a name in this language
            (a Language.code other than "any") — e.g. to offer only
            diagrams that read natively in a content node's language.
        - name: kind
          in: query
          required: false
          schema:
            type: string
            enum:
              - basic
              - custom
          description: |
            Restricts the results to diagrams of this kind. For a teacher,
            custom means only their own custom diagrams.
        - name: created_by
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Restricts the results to diagrams created by this user, among
            those the caller can see.
        - name: name
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 200
          description: |
            Restricts the results to diagrams with a name containing this
            text, in any of the diagram's languages, ignoring case and
            accents ("escala" matches "Escala Maior", "jonico" matches
            "Jônico").
        - name: root_note
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 3
          description: |
            Restricts the results to diagrams recorded with exactly this
            root note (e.g. "A", "F#", "Bb"), as spelled by their author. A
            diagram with no recorded root never matches.
        - name: instrument_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: When given, only diagrams authored against this instrument are returned.
        - name: skill_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: When given, only diagrams with this exact skill id among their linked skills are returned.
        - name: concept_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: When given, only diagrams with this exact concept id among their linked concepts are returned.
      responses:
        "200":
          description: One page of the diagrams visible to the caller, possibly empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDiagrams'
        "400":
          description: limit, offset, kind, language, name or root_note is out of range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The caller is a student.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

    post:
      operationId: createDiagram
      summary: Create a prebuilt diagram
      description: |
        Creates a new, reusable diagram against an existing instrument.
        Only teachers and admins may create a diagram. The caller is
        recorded as its creator (created_by). kind defaults to custom; only
        an admin may create a basic diagram. Neither kind nor created_by
        can change after creation.

        This is also how a copy of an existing diagram is saved, and how
        several overlaid diagrams are saved as one: the client composes the
        new diagram from what its editor shows and creates it here. The
        source diagrams are never modified, and the new diagram records no
        link to them.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDiagramRequest'
            examples:
              minor_pentatonic_guitar:
                summary: A guitar minor pentatonic scale position
                value:
                  instrument_id: "5c1a2b3c-0000-0000-0000-000000000001"
                  names:
                    en: "Minor Pentatonic — Position 1"
                    pt_BR: "Pentatônica menor — Posição 1"
                  positions:
                    - position_id: "5c1a2b3c-0000-0000-0000-000000000101"
                      interval: "R"
                      note_name: "A"
                      string: 6
                      fret: 5
                    - position_id: "5c1a2b3c-0000-0000-0000-000000000102"
                      interval: "b3"
                      note_name: "C"
                      string: 6
                      fret: 8
                  root_note: "A"
                  mode: "minor"
                  tempo_bpm: 90
                  time_signature:
                    beats: 4
                    beat_value: 4
                  sequence:
                    - position_ids: ["5c1a2b3c-0000-0000-0000-000000000101"]
                      value: { num: 1, den: 8 }
                    - position_ids: ["5c1a2b3c-0000-0000-0000-000000000102"]
                      value: { num: 1, den: 8 }
                    - position_ids: []
                      value: { num: 1, den: 4 }
                  classification:
                    skill_ids: ["3f4b6f2a-8c3e-4b1a-9d2e-7a1c5f0e9b21"]
                    concept_ids: ["7a2d9e10-4f3b-4c5a-8e6d-1b2c3d4e5f60"]
      responses:
        "201":
          description: Diagram created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagram'
        "400":
          description: |
            The request body failed schema validation — including a
            position's or region's coordinate fields not matching the
            referenced instrument's family, a region range that runs
            backwards or past the instrument's strings, per-language text
            (custom_label, note, region description) not keyed by exactly
            the languages of names, or a skill_ids/concept_ids entry that
            does not reference an existing node of the matching kind or is
            not for any of the diagram's instruments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create this
            diagram. Only teachers and admins may create a diagram, and only
            an admin may create a basic one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /diagrams/creators:
    get:
      operationId: listDiagramCreators
      summary: List the creators of the diagrams the caller can see
      description: |
        Returns every distinct user who created at least one diagram the
        caller can see in GET /diagrams, so a picker can offer a complete
        creator filter (its created_by parameter) without paging. A teacher
        gets the creators of basic diagrams, plus themselves once they have
        a custom diagram of their own — never another teacher who has only
        custom diagrams. An admin gets the creator of every diagram. A
        student is refused with 403, since students never browse the
        library.

        The list is unpaginated: it is bounded by the number of teachers
        and admins, not by the number of diagrams. Results are always
        ordered by display_name, alphabetically as a person reads names —
        ignoring case and accents, so "Álvaro" sorts with the A's — then
        by user_id; an empty array means no creator matches.
      tags:
        - Content
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 200
          description: >-
            Restricts the results to creators whose display_name contains
            this text, ignoring case and accents ("jose" matches "José").
      responses:
        "200":
          description: The creators of the diagrams the caller can see, possibly empty.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRef'
        "400":
          description: q is out of range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: The caller is a student.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /diagrams/{diagram_id}:
    get:
      operationId: getDiagram
      summary: Retrieve a diagram by ID
      description: |
        Any authenticated user may retrieve a diagram by its id, whatever
        its kind or creator, so that students can render the diagrams
        embedded in the content they study. The role scoping of the diagram
        list governs discovery, not access to a known id.
      tags:
        - Content
      parameters:
        - name: diagram_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The requested diagram.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagram'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No diagram exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    patch:
      operationId: updateDiagram
      summary: Update a diagram's name, positions, or classification
      description: |
        Only an admin may update a basic diagram. A custom diagram may be
        updated only by its creator or by an admin. An update never changes
[...]
