openapi: 3.1.0

info:
  title: Core Domain Service
  version: 0.6.0
  license:
    name: Proprietary — MotifPath internal use only
    identifier: UNLICENSED
  description: |
    Manages the MotifPath core domain: user identity, content (nodes, challenges,
    exercises), learning paths, and student progress state.

    This service is the authoritative source for all domain entities referenced by
    other services. The Event Ingestion Service validates student identity against
    user records created here. All content IDs carried in tracking events
    (content_node_id, challenge_id, exercise_id) must exist in this service before
    events that reference them are meaningful.

servers:
  - url: https://api.motifpath.io/v1
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - BearerAuth: []

paths:
  /users:
    post:
      operationId: registerUser
      summary: Register an authenticated user
      description: |
        Creates a MotifPath user record for the authenticated Clerk identity. The
        caller supplies their intended role (student or teacher); the service maps
        the JWT sub claim to a new user_id and persists the record.

        This endpoint must be called once per Clerk identity before any other
        authenticated operation. Subsequent calls with the same JWT sub return 409.

        The user_id returned in the response is the stable MotifPath identity for
        this user. Students must use this value as the student_id field in all
        tracking events submitted to the Event Ingestion Service.
      tags:
        - Identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
            examples:
              register_student:
                summary: A new student registers
                value:
                  role: student
              register_teacher:
                summary: A new teacher registers
                value:
                  role: teacher
      responses:
        "201":
          description: |
            User registered. Returns the new user's stable MotifPath identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "400":
          description: |
            The request body is invalid. The role field is missing or contains an
            unrecognised value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: |
            Missing or invalid Bearer token. The caller must be authenticated via
            Clerk before registering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "409":
          description: |
            A user record already exists for this Clerk identity. Each Clerk
            account can be registered only once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

  /content-nodes:
    post:
      operationId: createContentNode
      summary: Create a content node
      description: |
        Creates a new content node owned by the authenticated teacher or admin.
        A content node is the base unit of a class — a video or article that a
        student consumes on their learning path.

        Classification (skill, concept, difficulty level) must be supplied at
        creation time. The review_state is always set to pending on creation
        regardless of the value supplied; an admin must explicitly confirm it.
        Classification is the minimum semantic layer required for gap detection
        to function.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentNodeRequest'
            examples:
              video_lesson:
                summary: A teacher publishes a video lesson on triad shapes
                value:
                  title: "Introduction to Triad Shapes"
                  content_type: video
                  classification:
                    skill: "triad-shapes"
                    concept: "chord-theory"
                    difficulty_level: beginner
      responses:
        "201":
          description: Content node created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create content.
            Only teachers and admins may create content nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /content-nodes/{content_node_id}:
    get:
      operationId: getContentNode
      summary: Get a content node by ID
      description: |
        Returns the content node with the given ID. Any authenticated user
        (student, teacher, or admin) may retrieve a content node.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to retrieve.
      responses:
        "200":
          description: The requested content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentNode'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/challenges:
    post:
      operationId: createChallenge
      summary: Create a challenge for a content node
      description: |
        Creates a new challenge attached to the specified content node. A challenge
        is the assessment unit for a class — it groups exercises and carries the
        subject tag, pass threshold, and optional remediation target used by the
        rules-based recommendation engine.

        Subject tag is mandatory. Without it, right/wrong outcomes on exercises are
        analytically meaningless and gap detection cannot function.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node this challenge belongs to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
            examples:
              chord_recognition:
                summary: A challenge for chord recognition with a remediation target
                value:
                  subject_tag: "triad-shapes"
                  pass_threshold: 70
                  remediation_target_content_node_id: "c9d1e2f3-0000-0000-0000-000000000002"
      responses:
        "201":
          description: Challenge created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create challenges.
            Only teachers and admins may create challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /challenges/{challenge_id}:
    get:
      operationId: getChallenge
      summary: Get a challenge by ID
      description: |
        Returns the challenge with the given ID. Any authenticated user may
        retrieve a challenge.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to retrieve.
      responses:
        "200":
          description: The requested challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No challenge exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises:
    post:
      operationId: createExercise
      summary: Create a standalone exercise
      description: |
        Creates a reusable exercise, independent of any challenge. An exercise
        is a single practice item, checked by option selection: the student's
        selected option ID(s) must match the option(s) marked is_correct. The
        exercise_id returned is the value the SPA must supply in
        exercise-family tracking events. Link the exercise into one or more
        challenges afterward with
        POST /challenges/{challenge_id}/exercises/{exercise_id}.
      tags:
        - Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExerciseRequest'
            examples:
              image_recognition:
                summary: A fretboard region identification exercise
                value:
                  title: "Root position of a C major triad"
                  prompt: "Identify the root position of a C major triad"
                  exercise_type: image_recognition
                  skill_tags:
                    - triad-shapes
                  image_url: "https://cdn.example.com/fretboard/c-major-triad.png"
                  options:
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000001"
                      is_correct: true
                      region:
                        x: 0.2
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
                    - option_id: "e1a1a1a1-0000-0000-0000-000000000002"
                      is_correct: false
                      region:
                        x: 0.5
                        y: 0.3
                        width: 0.1
                        height: 0.1
                        shape: rectangle
      responses:
        "201":
          description: Exercise created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "400":
          description: |
            The request body failed schema validation, or no option has
            is_correct set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to create exercises.
            Only teachers and admins may create exercises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /challenges/{challenge_id}/exercises/{exercise_id}:
    post:
      operationId: linkExerciseToChallenge
      summary: Link an existing exercise to a challenge
      description: |
        Links an existing, standalone exercise into the specified challenge.
        The same exercise may be linked to any number of challenges — linking
        it into a second challenge does not duplicate the exercise or affect
        its other links.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to link the exercise into.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to link.
      responses:
        "201":
          description: Exercise linked. Returns the updated exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to link exercises.
            Only teachers and admins may link exercises to challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No challenge exists with challenge_id, or no exercise exists with exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: The exercise is already linked to this challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'

    delete:
      operationId: unlinkExerciseFromChallenge
      summary: Unlink an exercise from a challenge
      description: |
        Removes the link between the specified exercise and challenge. The
        exercise itself is not deleted and remains linked to any other
        challenges it is part of.
      tags:
        - Content
      parameters:
        - name: challenge_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the challenge to unlink the exercise from.
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to unlink.
      responses:
        "204":
          description: Exercise unlinked.
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to unlink exercises.
            Only teachers and admins may unlink exercises from challenges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            No challenge exists with challenge_id, no exercise exists with
            exercise_id, or the exercise is not currently linked to this
            challenge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /content-nodes/{content_node_id}/expanded-content:
    post:
      operationId: createExpandedContent
      summary: Add an expanded content item to a content node
      description: |
        Attaches an expositive media item (image or GIF) to a content node. The
        item is shown to the student at a specific point during consumption —
        at a video timestamp for video nodes, or at a paragraph position for
        article nodes.

        **Trigger and hide rules by content node type:**

        - **video**: `trigger_at_seconds` is required. `hide_at_seconds` must be
          provided and must be greater than `trigger_at_seconds`. `trigger_at_paragraph`
          and `duration_ms` must be absent.
        - **article**: `trigger_at_paragraph` is required (1-based index). `duration_ms`
          must be provided (minimum 1 ms). `trigger_at_seconds` and `hide_at_seconds`
          must be absent.

        These constraints are enforced at write time. A request that mixes fields
        from both groups is rejected with 400.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node to attach the expanded content to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpandedContentRequest'
            examples:
              video_chord_diagram:
                summary: A chord diagram shown at a specific moment in a video lesson
                value:
                  content_type: image
                  media_url: "https://cdn.example.com/diagrams/c-major-triad.png"
                  trigger_at_seconds: 150
                  hide_at_seconds: 165
                  caption: "C major triad — root position"
              article_gif:
                summary: An animated GIF shown when the student reaches paragraph 3 of an article
                value:
                  content_type: gif
                  media_url: "https://cdn.example.com/animations/finger-placement.gif"
                  trigger_at_paragraph: 3
                  duration_ms: 8000
                  caption: "Correct finger placement for the first chord"
      responses:
        "201":
          description: Expanded content item created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "400":
          description: |
            The request body failed schema validation, or the trigger/hide field
            combination is inconsistent with the parent content node type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to add expanded content.
            Only teachers and admins may add expanded content to a content node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

    get:
      operationId: listExpandedContent
      summary: List all expanded content items for a content node
      description: |
        Returns all expanded content items attached to the specified content node,
        ordered by trigger position (trigger_at_seconds ascending for video,
        trigger_at_paragraph ascending for article). Any authenticated user may
        retrieve this list.
      tags:
        - Content
      parameters:
        - name: content_node_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the content node whose expanded content to list.
      responses:
        "200":
          description: Ordered list of expanded content items for the content node.
          content:
            application/json:
              schema:
                type: object
                description: Paginated list of expanded content items.
                properties:
                  items:
                    type: array
                    description: Expanded content items ordered by trigger position.
                    items:
                      $ref: '#/components/schemas/ExpandedContent'
                  total:
                    type: integer
                    description: Total number of expanded content items for this content node.
                required:
                  - items
                  - total
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No content node exists with the given content_node_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /expanded-content/{expanded_content_id}:
    get:
      operationId: getExpandedContent
      summary: Get an expanded content item by ID
      description: |
        Returns the expanded content item with the given ID. Any authenticated
        user may retrieve an expanded content item.
      tags:
        - Content
      parameters:
        - name: expanded_content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the expanded content item to retrieve.
      responses:
        "200":
          description: The requested expanded content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedContent'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No expanded content item exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /exercises/{exercise_id}:
    get:
      operationId: getExercise
      summary: Get an exercise by ID
      description: |
        Returns the exercise with the given ID, including its options and
        the challenges it is currently linked to. Any authenticated user may
        retrieve an exercise.
      tags:
        - Content
      parameters:
        - name: exercise_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the exercise to retrieve.
      responses:
        "200":
          description: The requested exercise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: No exercise exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /media/upload-url:
    post:
      operationId: createMediaUploadUrl
      summary: Request a presigned URL to upload a content-authoring media asset
      description: |
        Issues a short-lived presigned URL the caller uploads a file to directly
        (object storage — S3 in production, MinIO in local development), without
        proxying the file's bytes through this service. The response also returns
        the object's eventual read URL, which the caller stores in the relevant
        `media_url` / `image_url` / `audio_url` field once the upload completes.

        This endpoint does not verify the upload happened — the presigned URL
        itself enforces who may write to the target object, and for how long.
        Callers are responsible for actually performing the PUT before the
        returned `expires_at`.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaUploadUrlRequest'
            examples:
              exercise_prompt_image:
                summary: An image for a specific exercise's prompt or option
                value:
                  purpose: exercise_asset
                  exercise_id: "550e8400-e29b-41d4-a716-446655440000"
                  content_type: image
                  file_name: "descending-run-diagram.png"
              library_image:
                summary: A new image added to the shared, predefined image-picker library
                value:
                  purpose: library_asset
                  content_type: image
                  file_name: "c-major-scale-fretboard.png"
      responses:
        "201":
          description: Presigned upload URL issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadUrl'
        "400":
          description: |
            The request body failed schema validation, or purpose is
            exercise_asset without an exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The authenticated user does not have permission to upload
            content-authoring media. Only teachers and admins may request an
            upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: purpose is exercise_asset but no exercise exists with the given exercise_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /learning-paths:
    post:
      operationId: createLearningPath
      summary: Create a learning path
      description: |
        Creates an ordered sequence of content nodes that a student will follow.
        Items are specified in the desired order; the service assigns each a
        1-based position. All content_node_ids must exist in the system before
        the path can be created. A path must contain at least one item.
      tags:
        - Learning Paths
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLearningPathRequest'
            examples:
              beginner_guitar_path:
                summary: A three-node beginner path
                value:
                  title: "Beginner Guitar"
                  items:
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000002"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000003"
              rhythm_foundations_with_sections:
                summary: A path whose items are grouped into named sections
                value:
                  title: "Rhythm Foundations"
                  items:
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                      section_label: "Open chords"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000002"
                      section_label: "Open chords"
                    - content_node_id: "c9d1e2f3-0000-0000-0000-000000000003"
                      section_label: "Strumming patterns"
      responses:
        "201":
          description: Learning path created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        "400":
          description: |
            The request body failed schema validation — missing title, empty items
            array, or a content_node_id that does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            Only teachers and admins may create learning paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'

  /learning-paths/{learning_path_id}:
    get:
      operationId: getLearningPath
      summary: Get a learning path by ID
      description: |
        Returns the learning path with its ordered items. Teachers and admins
        may retrieve any path. Students may not browse paths directly — their
        view is through GET /students/me/path.
      tags:
        - Learning Paths
      parameters:
        - name: learning_path_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the learning path to retrieve.
      responses:
        "200":
          description: The requested learning path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPath'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Students may not retrieve learning paths directly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No learning path exists with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /students/{student_id}/path-assignments:
    post:
      operationId: assignLearningPath
      summary: Assign a learning path to a student
      description: |
        Assigns a learning path to the specified student. The student must have
        role student. If the student already has an active path assignment, the
        existing assignment is replaced by this one and the student's progress
        is reset to the first item. Only one active assignment per student is
        supported for MVP.
      tags:
        - Learning Paths
      parameters:
        - name: student_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The user_id of the student to assign the path to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignLearningPathRequest'
            examples:
              assign_path:
                summary: Assign a path to a student
                value:
                  learning_path_id: "d4e5f6a7-0000-0000-0000-000000000001"
      responses:
        "201":
          description: Path assigned. Returns the new assignment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathAssignment'
        "400":
          description: The request body failed schema validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Only teachers and admins may assign learning paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: |
            The student_id does not exist, the student's role is not student,
            or the learning_path_id does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /students/me/path:
    get:
      operationId: getMyPath
      summary: Get the authenticated student's current learning path and progress
      description: |
        Returns the student's active learning path assignment together with the
        progress state of each item. This is the primary endpoint for the SPA's
        main screen.

        Item status values:
        - completed — the student has finished this content node.
        - in_progress — the student has started but not finished this content node.
        - not_started — the student has not yet reached this content node.
        - locked — the student must complete an earlier node before accessing this one.

        Only accessible by authenticated users with role student. Returns 404 if
        the student has no active path assignment.
      tags:
        - Learning Paths
      responses:
        "200":
          description: The student's current learning path with per-item progress state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentPathView'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: Only students may access this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: The authenticated student has no active path assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /users/me:
    get:
      operationId: getMyProfile
      summary: Get the authenticated user's profile
      description: |
        Returns the MotifPath user record associated with the authenticated Clerk
        identity. Returns 404 if the identity has not yet been registered via
        POST /users.
      tags:
        - Identity
      responses:
        "200":
          description: The authenticated user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        "401":
          description: |
            Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "404":
          description: |
            No user record exists for this Clerk identity. The caller must
            complete registration via POST /users first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

  /healthz:
    get:
      operationId: livenessCheck
      summary: Liveness probe
      description: |
        Returns 200 if the service process is running. Used by the deployment
        platform to determine whether to restart the container. Does not check
        downstream dependencies.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /readyz:
    get:
      operationId: readinessCheck
      summary: Readiness probe
      description: |
        Returns 200 if the service is ready to accept traffic — the learning-graph
        store (holding users, content, and learning paths) and the completion-state
        store (holding aggregated node-completion state) are both reachable. The
        deployment platform withholds traffic until this probe succeeds. Returns 503
        during startup or if a dependency becomes unavailable, with the checks map
        naming the failed dependency.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        "503":
          description: Service is not ready. One or more dependencies are unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Clerk-issued JWT validated locally by the service on every request.
        See ADR-007 for the full validation contract.

  schemas:
    HealthStatus:
      $ref: './components/schemas/health.yaml#/HealthStatus'

    CreateContentNodeRequest:
      type: object
      description: Payload for creating a new content node.
      properties:
        title:
          type: string
          description: Human-readable title of the content node, displayed to students.
        content_type:
          type: string
          enum:
            - video
            - article
          description: The media format of this content node.
        classification:
          $ref: '#/components/schemas/ClassificationInput'
      required:
        - title
        - content_type
        - classification

    ClassificationInput:
      type: object
      description: |
        The three mandatory classification dimensions for a content node. These
        dimensions are the minimum semantic layer required for gap detection and
        the rules-based recommendation engine to function.
      properties:
        skill:
          type: string
          description: |
            The observable, practicable skill this content teaches. Must be a
            short kebab-case tag (e.g. triad-shapes, chord-transitions,
            sweep-picking).
        concept:
          type: string
          description: |
            The intellectual concept this content addresses. Must be a short
            kebab-case tag (e.g. chord-theory, interval-recognition,
            scale-construction).
        difficulty_level:
          type: string
          enum:
            - beginner
            - intermediate
            - advanced
          description: The difficulty level of this content node.
      required:
        - skill
        - concept
        - difficulty_level

    Classification:
      allOf:
        - $ref: '#/components/schemas/ClassificationInput'
        - type: object
          description: |
            The classification of a content node including its review state.
            All classifications start as pending and must be confirmed by an
            admin before the content node is considered fully ready.
          properties:
            review_state:
              type: string
              enum:
                - pending
                - confirmed
                - overridden
              description: |
                The review state of this classification. pending — awaiting
                admin review. confirmed — approved as ground truth.
                overridden — a previous classification was corrected by a
                human reviewer.
          required:
            - review_state

    ContentNode:
      type: object
      description: |
        A content node is the base unit of a class — a video or article published
        by a teacher. Its ID is carried in lesson-family tracking events as
        content_node_id.
      properties:
        content_node_id:
          type: string
          format: uuid
          description: Stable identifier for this content node. Used as content_node_id in tracking events.
        teacher_id:
          type: string
          format: uuid
          description: The user_id of the teacher who created this content node.
        title:
          type: string
          description: Human-readable title of the content node.
        content_type:
          type: string
          enum:
            - video
            - article
          description: The media format of this content node.
        classification:
          $ref: '#/components/schemas/Classification'
        created_at:
          type: string
          format: date-time
          description: Timestamp at which the content node was created.
      required:
        - content_node_id
        - teacher_id
        - title
        - content_type
        - classification
        - created_at

    CreateLearningPathRequest:
      type: object
      description: Payload for creating a learning path.
      properties:
        title:
          type: string
          description: Human-readable name for this learning path, displayed to teachers and admins.
        items:
          type: array
          minItems: 1
          description: Ordered list of content nodes that make up this path. At least one item is required.
          items:
            type: object
            properties:
              content_node_id:
                type: string
                format: uuid
                description: The ID of the content node at this position. Must exist in the system.
              section_label:
                type: string
                description: >-
                  Optional label grouping this item with its immediate
                  neighbors under a named section in the resulting path view.
                  Consecutive items that share the same label render together
                  under that heading in the teacher, admin, and student path
                  views; items with no label, or a different label than their
                  neighbor, render ungrouped. Names a competency or skill
                  area — never a time period or schedule.
            required:
              - content_node_id
      required:
        - title
        - items

    LearningPathItem:
      type: object
      description: A single content node within a learning path at a given position.
      properties:
        position:
          type: integer
          minimum: 1
          description: 1-based position of this item within the learning path.
        content_node_id:
          type: string
          format: uuid
          description: The ID of the content node at this position.
        title:
          type: string
          description: Title of the content node, denormalised for display.
        content_type:
          type: string
          enum:
            - video
            - article
          description: Media format of the content node, denormalised for display.
        section_label:
          type: string
          description: >-
            Optional label grouping this item with its immediate neighbors
            under a named section. Consecutive items that share the same
            label render together under that heading; items with no label,
            or a different label than their neighbor, render ungrouped.
            Names a competency or skill area, not a time period.
      required:
        - position
        - content_node_id
        - title
        - content_type

    LearningPath:
      type: object
      description: An ordered sequence of content nodes assigned to students as a structured curriculum.
      properties:
        learning_path_id:
          type: string
          format: uuid
          description: Stable identifier for this learning path.
        teacher_id:
          type: string
          format: uuid
          description: The user_id of the teacher or admin who created this path.
        title:
          type: string
          description: Human-readable name for this learning path.
        items:
          type: array
          description: Ordered content nodes, sorted by position ascending.
          items:
            $ref: '#/components/schemas/LearningPathItem'
        created_at:
          type: string
          format: date-time
          description: Timestamp at which this learning path was created.
      required:
        - learning_path_id
        - teacher_id
        - title
        - items
        - created_at

    AssignLearningPathRequest:
      type: object
      description: Payload for assigning a learning path to a student.
      properties:
        learning_path_id:
          type: string
          format: uuid
          description: The ID of the learning path to assign. Must exist in the system.
      required:
        - learning_path_id

    PathAssignment:
      type: object
      description: |
        A record of a learning path being assigned to a student. One active
        assignment exists per student at any time for MVP.
      properties:
        assignment_id:
          type: string
          format: uuid
          description: Stable identifier for this assignment record.
        student_id:
          type: string
          format: uuid
          description: The user_id of the student this path is assigned to.
        learning_path_id:
          type: string
          format: uuid
          description: The learning path assigned to the student.
        assigned_by:
          type: string
          format: uuid
          description: The user_id of the teacher or admin who created this assignment.
        assigned_at:
          type: string
          format: date-time
          description: Timestamp at which the assignment was created.
      required:
        - assignment_id
        - student_id
        - learning_path_id
        - assigned_by
        - assigned_at

    StudentPathItem:
      type: object
      description: A content node in the student's learning path with their current progress state.
      properties:
        position:
          type: integer
          minimum: 1
          description: 1-based position of this item within the learning path.
        content_node_id:
          type: string
          format: uuid
          description: The ID of the content node at this position.
        title:
          type: string
          description: Title of the content node.
        content_type:
          type: string
          enum:
            - video
            - article
          description: Media format of the content node.
        status:
          type: string
          enum:
            - completed
            - in_progress
            - not_started
            - locked
          description: |
            The student's current progress state for this item. completed — finished.
            in_progress — started but not finished. not_started — not yet reached.
            locked — a preceding item must be completed first.
        section_label:
          type: string
          description: >-
            Optional label grouping this item with its immediate neighbors
            under a named section in the student's path view. Consecutive
            items that share the same label render together under that
            heading; items with no label, or a different label than their
            neighbor, render ungrouped. Names a competency or skill area,
            not a time period.
      required:
        - position
        - content_node_id
        - title
        - content_type
        - status

    StudentPathView:
      type: object
      description: |
        The student's active learning path with per-item progress state.
        Returned by GET /students/me/path and used by the SPA to render
        the main learning screen.
      properties:
        assignment_id:
          type: string
          format: uuid
          description: The active assignment record ID.
        learning_path_id:
          type: string
          format: uuid
          description: The assigned learning path ID.
        title:
          type: string
          description: Title of the assigned learning path.
        current_position:
          type: integer
          minimum: 1
          description: |
            The position of the item the student should work on next. Points to
            the first item that is not completed.
        items:
          type: array
          description: All path items with progress state, sorted by position ascending.
          items:
            $ref: '#/components/schemas/StudentPathItem'
      required:
        - assignment_id
        - learning_path_id
        - title
        - current_position
        - items

    CreateExpandedContentRequest:
      type: object
      description: |
        Payload for attaching an expositive media item to a content node.
        The trigger and hide fields used depend on the parent content node type:
        video nodes use trigger_at_seconds + hide_at_seconds; article nodes use
        trigger_at_paragraph + duration_ms. Mixing fields across groups is invalid.
      properties:
        content_type:
          type: string
          enum:
            - image
            - gif
          description: The media format of the expanded content item.
        media_url:
          type: string
          format: uri
          description: External URL of the image or GIF to display.
        trigger_at_seconds:
          type: integer
          minimum: 0
          description: |
            Video nodes only. The video timestamp (in seconds) at which to show
            this item. Must be absent for article nodes.
        hide_at_seconds:
          type: integer
          minimum: 0
          description: |
            Video nodes only. The video timestamp (in seconds) at which to hide
            this item. Must be greater than trigger_at_seconds. Must be absent
            for article nodes.
        trigger_at_paragraph:
          type: integer
          minimum: 1
          description: |
            Article nodes only. The 1-based paragraph index at which to show
            this item. Must be absent for video nodes.
        duration_ms:
          type: integer
          minimum: 1
          description: |
            Article nodes only. How long to display this item in milliseconds
            after it is triggered. Must be absent for video nodes.
        caption:
          type: string
          description: Optional caption displayed alongside the media item.
      required:
        - content_type
        - media_url

    ExpandedContent:
      type: object
      description: |
        An expositive media item (image or GIF) attached to a content node and
        shown to the student at a specific point during content consumption.
        For video nodes the item is synced to the video timeline; for article
        nodes it is triggered by paragraph position.
      properties:
        expanded_content_id:
          type: string
          format: uuid
          description: Stable identifier for this expanded content item.
        content_node_id:
          type: string
          format: uuid
          description: The content node this item is attached to.
        content_type:
          type: string
          enum:
            - image
            - gif
          description: The media format of this item.
        media_url:
          type: string
          format: uri
          description: External URL of the image or GIF.
        trigger_at_seconds:
          type: integer
          minimum: 0
          description: Video nodes only. Video timestamp (seconds) at which this item is shown.
        hide_at_seconds:
          type: integer
          minimum: 0
          description: Video nodes only. Video timestamp (seconds) at which this item is hidden.
        trigger_at_paragraph:
          type: integer
          minimum: 1
          description: Article nodes only. 1-based paragraph index at which this item is shown.
        duration_ms:
          type: integer
          minimum: 1
          description: Article nodes only. Display duration in milliseconds.
        caption:
          type: string
          description: Optional caption displayed alongside the media item.
        created_at:
          type: string
          format: date-time
          description: Timestamp at which this expanded content item was created.
      required:
        - expanded_content_id
        - content_node_id
        - content_type
        - media_url
        - created_at

    CreateChallengeRequest:
      type: object
      description: Payload for creating a challenge within a content node.
      properties:
        subject_tag:
          type: string
          description: |
            The subject this challenge assesses. Must match a skill or concept
            tag on the parent content node's classification. This tag is the
            minimum required for gap detection — a challenge without a subject
            tag produces analytically meaningless outcomes.
        pass_threshold:
          type: integer
          minimum: 1
          maximum: 100
          description: |
            The minimum score (as a percentage of exercises answered correctly)
            required to pass this challenge. Scores below this value trigger
            the remediation recommendation if a target is configured.
        remediation_target_content_node_id:
          type: string
          format: uuid
          description: |
            The content node to recommend when a student's score falls below
            pass_threshold. If omitted, no automatic recommendation is made on
            failure.
      required:
        - subject_tag
        - pass_threshold

    Challenge:
      type: object
      description: |
        A challenge is the assessment unit for a content node. It groups exercises
        and carries the subject tag and threshold rules used by the recommendation
        engine. Its ID is carried in exercise-family tracking events as challenge_id
        inside trigger_context.
      properties:
        challenge_id:
          type: string
          format: uuid
          description: Stable identifier for this challenge. Carried as challenge_id in tracking events.
        content_node_id:
          type: string
          format: uuid
          description: The content node this challenge belongs to.
        subject_tag:
          type: string
          description: The subject this challenge assesses.
        pass_threshold:
          type: integer
          minimum: 1
          maximum: 100
          description: Minimum score percentage required to pass.
        remediation_target_content_node_id:
          type: string
          format: uuid
          description: Content node recommended when the student fails this challenge. Absent if not configured.
        created_at:
          type: string
          format: date-time
          description: Timestamp at which the challenge was created.
      required:
        - challenge_id
        - content_node_id
        - subject_tag
        - pass_threshold
        - created_at

    CreateExerciseRequest:
      type: object
      description: Payload for creating a standalone, reusable exercise.
      properties:
        title:
          type: string
          description: |
            A short, authoring-only name for this exercise (e.g. "Alternate
            picking — descending run"), used to identify it in authoring
            tools. Not shown to students.
        prompt:
          type: string
          description: |
            The instruction displayed to the student for this exercise
            (e.g. "Identify the root position of a C major triad").
        exercise_type:
          type: string
          enum:
            - text_response
            - audio_recognition
            - image_recognition
            - image_choice
          description: |
            The type of practice interaction, which determines how its
            options are authored and rendered. text_response and
            audio_recognition options carry a text label; image_recognition
            options carry a region on image_url; image_choice options each
            carry their own image_url.
        skill_tags:
          type: array
          items:
            type: string
          description: |
            Freeform tags naming the skill(s) or technique(s) this exercise
            targets (e.g. "alternate_picking"), used to classify and discover
            the exercise independent of any challenge. Each tag must be a
            non-empty string.
        image_url:
          type: string
          format: uri
          description: |
            The stimulus image for this exercise. Required when exercise_type
            is image_recognition; absent otherwise.
        audio_url:
          type: string
          format: uri
          description: |
            The stimulus audio for this exercise. Required when exercise_type
            is audio_recognition; absent otherwise.
        options:
          type: array
          items:
            $ref: '#/components/schemas/Option'
          minItems: 1
          description: |
            The exercise's selectable answer choices. At least one option
            must have is_correct set to true — an exercise with no correct
            option cannot be graded.
      required:
        - title
        - prompt
        - exercise_type
        - options

    Exercise:
      type: object
      description: |
        A reusable, standalone practice item classified by skill tags and
        independent of any single challenge. The exercise_id is the value
        the SPA supplies in exercise-family tracking events. An exercise is
        checked by option selection: the student's selected option ID(s)
        must match the option(s) marked is_correct.
      properties:
        exercise_id:
          type: string
          format: uuid
          description: Stable identifier for this exercise. Used as exercise_id in tracking events.
        title:
          type: string
          description: Short, authoring-only name for this exercise. Not shown to students.
        prompt:
          type: string
          description: The instruction displayed to the student for this exercise.
        exercise_type:
          type: string
          enum:
            - text_response
            - audio_recognition
            - image_recognition
            - image_choice
          description: The type of practice interaction.
        skill_tags:
          type: array
          items:
            type: string
          description: Freeform tags naming the skill(s) this exercise targets.
        image_url:
          type: string
          format: uri
          description: The stimulus image for this exercise, present when exercise_type is image_recognition.
        audio_url:
          type: string
          format: uri
          description: The stimulus audio for this exercise, present when exercise_type is audio_recognition.
        options:
          type: array
          items:
            $ref: '#/components/schemas/Option'
          description: The exercise's selectable answer choices.
        challenge_ids:
          type: array
          items:
            type: string
            format: uuid
          description: |
            The challenges this exercise is currently linked to. May be
            empty — an exercise can exist without being linked to any
            challenge.
        created_at:
          type: string
          format: date-time
          description: Timestamp at which the exercise was created.
      required:
        - exercise_id
        - title
        - prompt
        - exercise_type
        - options
        - challenge_ids
        - created_at

    Option:
      type: object
      description: |
        One selectable answer choice within an exercise. An exercise's
        correct answer is expressed by marking one or more options as
        is_correct. The fields expected beyond option_id and is_correct
        depend on the parent exercise's exercise_type: image_recognition
        options carry region, image_choice options carry image_url, and
        text_response / audio_recognition options carry label.
      properties:
        option_id:
          type: string
          format: uuid
          description: Stable identifier for this option.
        is_correct:
          type: boolean
          description: Whether selecting this option counts as a correct answer.
        label:
          type: string
          description: |
            The text shown for this option. Required for text_response and
            audio_recognition options; absent otherwise.
        image_url:
          type: string
          format: uri
          description: |
            The image shown for this option. Required for image_choice
            options; absent otherwise.
        region:
          $ref: '#/components/schemas/OptionRegion'
      required:
        - option_id
        - is_correct

    OptionRegion:
      type: object
      description: |
        A rectangular or circular region on the parent exercise's image_url,
        used by image_recognition options — selecting the region is
        selecting the option.
      properties:
        x:
          type: number
          description: Horizontal position of the region's top-left corner, as a fraction (0-1) of the image width.
        y:
          type: number
          description: Vertical position of the region's top-left corner, as a fraction (0-1) of the image height.
        width:
          type: number
          description: Region width, as a fraction (0-1) of the image width.
        height:
          type: number
          description: Region height, as a fraction (0-1) of the image height.
        shape:
          type: string
          enum:
            - rectangle
            - circle
          description: The rendered shape of the region.
      required:
        - x
        - y
        - width
        - height
        - shape

    CreateMediaUploadUrlRequest:
      type: object
      description: |
        Payload requesting a presigned URL to upload a content-authoring media
        asset (exercise/prompt image or audio, or an addition to the shared
        image-picker library).
      properties:
        purpose:
          type: string
          enum:
            - exercise_asset
            - library_asset
          description: |
            What the uploaded object is for. exercise_asset requires
            exercise_id and stores the object under that exercise's prefix.
            library_asset stores the object under the shared, predefined
            image-picker library's prefix.
        exercise_id:
          type: string
          format: uuid
          description: |
            The exercise this upload belongs to. Required when purpose is
            exercise_asset; must be absent when purpose is library_asset.
        content_type:
          type: string
          enum:
            - image
            - audio
          description: The media type of the file being uploaded.
        file_name:
          type: string
          description: |
            The original file name, used to derive the stored object's file
            extension. Not used as the object's storage key.
      required:
        - purpose
        - content_type
        - file_name

    MediaUploadUrl:
      type: object
      description: |
        A presigned upload URL and the object's eventual read URL. The caller
        performs an HTTP PUT of the file's raw bytes to upload_url, then stores
        object_url in the relevant media_url / image_url / audio_url field.
      properties:
        upload_url:
          type: string
          format: uri
          description: |
            Short-lived presigned URL to PUT the file's raw bytes to. Expires
            at expires_at.
        object_url:
          type: string
          format: uri
          description: |
            The URL the uploaded object is readable at once the upload
            completes (a CloudFront URL in production, the local object
            store's equivalent in development).
        expires_at:
          type: string
          format: date-time
          description: The time after which upload_url can no longer be used.
      required:
        - upload_url
        - object_url
        - expires_at

    ForbiddenError:
      type: object
      description: Returned when the authenticated user lacks permission for the requested operation.
      properties:
        message:
          type: string
          description: Human-readable reason for the denial.
      required:
        - message

    RegisterUserRequest:
      type: object
      description: Payload for registering a new MotifPath user.
      properties:
        role:
          type: string
          enum:
            - student
            - teacher
          description: |
            The role this Clerk identity will hold in the platform. A student
            consumes content and emits tracking events. A teacher creates content
            and manages learning paths. Cannot be changed after registration.

            The admin role is not self-registrable. Admin accounts are provisioned
            directly in the database at deploy time and are reserved for internal
            platform operations.
      required:
        - role

    UserProfile:
      type: object
      description: |
        The stable MotifPath identity for a registered user. The user_id is the
        value that other services (e.g. Event Ingestion Service) use to identify
        this user in payloads and JWT claim validation.
      properties:
        user_id:
          type: string
          format: uuid
          description: |
            Stable MotifPath identifier for this user. Students must supply this
            value as student_id in all tracking events.
        role:
          type: string
          enum:
            - student
            - teacher
            - admin
          description: |
            The role assigned at registration. Immutable after creation. The admin
            role is provisioned directly in the database and is never returned from
            a self-registration flow.
        registered_at:
          type: string
          format: date-time
          description: Timestamp at which the user record was created.
      required:
        - user_id
        - role
        - registered_at

    ValidationError:
      type: object
      description: Returned when the request body fails schema validation.
      properties:
        message:
          type: string
          description: Human-readable summary of the validation failure.
        errors:
          type: array
          description: One entry per failing field.
          items:
            type: object
            properties:
              field:
                type: string
                description: JSON pointer to the failing field.
              reason:
                type: string
                description: Description of the constraint that was violated.
            required:
              - field
              - reason
      required:
        - message
        - errors

    UnauthorizedError:
      type: object
      description: Returned when the Bearer token is missing or invalid.
      properties:
        message:
          type: string
          description: Human-readable reason for the rejection.
      required:
        - message

    ConflictError:
      type: object
      description: Returned when a resource already exists and cannot be created again.
      properties:
        message:
          type: string
          description: Human-readable reason for the conflict.
      required:
        - message

    NotFoundError:
      type: object
      description: Returned when the requested resource does not exist.
      properties:
        message:
          type: string
          description: Human-readable description of what was not found.
      required:
        - message
