openapi: 3.1.0

info:
  title: Event Ingestion Service
  version: 0.3.0
  license:
    name: Proprietary — MotifPath internal use only
    identifier: UNLICENSED
  description: |
    Receives student tracking events emitted by the Vue 3 SPA, validates them against
    the TrackingEvent schema, writes them synchronously to the MongoDB events collection,
    and publishes them asynchronously to the motifpath.events Kafka topic.

    This service is the sole Kafka producer in the MotifPath platform. Every
    student-facing event type (lesson.*, exercise.* and practice.*) flows through this
    single entry point.

servers:
  - url: https://events.motifpath.io/v1
    description: Production
  - url: http://localhost:8081
    description: Local development

security:
  - BearerAuth: []

paths:
  /events:
    post:
      operationId: ingestTrackingEvent
      summary: Submit a student tracking event
      description: |
        Accepts a single tracking event from the authenticated student's session.
        On success the event is durably written to MongoDB and queued for Kafka
        publication. The 202 response confirms durable receipt — Kafka delivery
        is asynchronous and is not reflected in the response status.

        The caller must supply the event_id. Duplicate submissions with the same
        event_id are safe: this endpoint does not reject duplicates at the HTTP
        layer, and every downstream consumer of the resulting event is required
        to tolerate reprocessing the same underlying fact — whether it arrives
        under the same event_id again or, in the case of a producer mistake,
        under a different one.
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingEvent'
            examples:
              lesson_started:
                summary: Student begins a video lesson
                value:
                  event_id: "a1b2c3d4-0000-0000-0000-000000000001"
                  event_type: lesson.started
                  student_id: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                  session_id: "550e8400-e29b-41d4-a716-446655440000"
                  occurred_at: "2026-05-27T14:32:00Z"
                  content_context:
                    content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                    content_type: video
                    teacher_id: "b8c9d0e1-0000-0000-0000-000000000001"
              exercise_answer_sent:
                summary: Student submits an answer to a challenge exercise
                value:
                  event_id: "a1b2c3d4-0000-0000-0000-000000000002"
                  event_type: exercise.answer_sent
                  student_id: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                  session_id: "550e8400-e29b-41d4-a716-446655440000"
                  occurred_at: "2026-05-27T14:45:10Z"
                  exercise_id: "d2e3f4a5-0000-0000-0000-000000000001"
                  trigger_context:
                    source: challenge_sequence
                    content_node_id: "c9d1e2f3-0000-0000-0000-000000000001"
                    challenge_id: "e3f4a5b6-0000-0000-0000-000000000001"
                  attempt_number: 1
                  answer_payload:
                    selected_option: "C"
              practice_item_answered:
                summary: Student names the note of a fretboard cell in a practice session
                value:
                  event_id: "a1b2c3d4-0000-0000-0000-000000000003"
                  event_type: practice.item_answered
                  student_id: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                  session_id: "550e8400-e29b-41d4-a716-446655440000"
                  occurred_at: "2026-10-03T19:02:41Z"
                  practice_session_id: "f1a2b3c4-0000-0000-0000-000000000001"
                  item_key: "fretboard_cell:6ea2d087-ab9c-59dc-9657-8546025414d2:5:3"
                  response:
                    response_type: name_the_note
                    note_name: "C"
                    latency_ms: 1800
      responses:
        "202":
          description: |
            Event accepted. The event has been written to the durable event log.
            Kafka publication is in flight and will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestAccepted'
        "400":
          description: |
            The request body failed schema validation. The event was not stored.
            Inspect the errors array to identify the failing fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        "401":
          description: |
            The request could not be attributed to a registered student: the Bearer
            token is missing or invalid, the token's identity has never been
            registered with MotifPath, or the event's student_id is not the caller's
            own MotifPath user id. The event was not stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "503":
          description: |
            The caller's MotifPath identity could not be resolved because the Core
            Domain Service was unreachable, and no cached result was available. The
            event was not stored; resubmit it once the service recovers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'

  /admin/publish-outbox/{event_id}/retry:
    post:
      operationId: retryPublishOutboxEntry
      summary: Manually retry a failed Kafka publish
      description: |
        Immediately attempts to publish the specified event to Kafka again, regardless of its
        current retry state, and returns the outcome synchronously. Intended for an operator
        remediating a dead-lettered entry once the underlying delivery problem (e.g. a broker
        outage) has been resolved.

        A failed retry through this endpoint leaves the entry's status unchanged rather than
        re-enabling the automatic retry sweep — call this endpoint again, or use
        POST /admin/publish-outbox/{event_id}/resolve, once ready.

        Calling this on an entry that has already reached a terminal, successful state
        (published or resolved_manually) is a no-op: no publish is attempted and the entry's
        current state is returned unchanged.

        Authorization: the caller must hold the admin role. The service establishes this by
        calling the Core Domain Service with the caller's own bearer token and reading the role
        on the profile it returns — a role claim in the JWT itself is not trusted. A caller
        whose role is not admin, or who has no registered profile, is refused with 403. If the
        role cannot be established because the Core Domain Service is unreachable, the request
        is refused with 503 and no publish is attempted.
      tags:
        - Admin
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The event_id of the publish_outbox entry to retry.
      responses:
        "200":
          description: |
            The retry was attempted (or skipped as a no-op). Returns the entry's resulting state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishOutboxEntry'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The caller's role is not admin, or the caller has no registered profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No publish_outbox entry exists for the given event_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "503":
          description: |
            The caller's role could not be established because the Core Domain Service
            was unreachable. No publish was attempted; retry once it recovers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'

  /admin/publish-outbox/{event_id}/resolve:
    post:
      operationId: resolvePublishOutboxEntry
      summary: Mark a publish_outbox entry as manually resolved
      description: |
        Marks the specified entry as resolved_manually without attempting to publish it again,
        for cases where an operator has confirmed the event does not need further delivery or
        has delivered it through some other means. Distinct from a successful publish:
        resolved_manually always means a human intervened, never that Kafka confirmed receipt.

        Calling this on an entry that is already published or resolved_manually is a no-op: the
        entry's current state is returned unchanged.

        Authorization: the caller must hold the admin role. The service establishes this by
        calling the Core Domain Service with the caller's own bearer token and reading the role
        on the profile it returns — a role claim in the JWT itself is not trusted. A caller
        whose role is not admin, or who has no registered profile, is refused with 403. If the
        role cannot be established because the Core Domain Service is unreachable, the request
        is refused with 503 and the entry is left unchanged.
      tags:
        - Admin
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The event_id of the publish_outbox entry to resolve.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolvePublishOutboxEntryRequest'
      responses:
        "200":
          description: |
            The entry was marked resolved (or was already terminal). Returns its resulting state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishOutboxEntry'
        "401":
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        "403":
          description: |
            The caller's role is not admin, or the caller has no registered profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: No publish_outbox entry exists for the given event_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "503":
          description: |
            The caller's role could not be established because the Core Domain Service
            was unreachable. The entry was left unchanged; retry once it recovers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'

  /healthz:
    get:
      operationId: livenessCheck
      summary: Liveness probe
      description: |
        Returns 200 if the service process is running. Used by EKS to determine
        whether to restart the container. Does not check downstream dependencies.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /readyz:
    get:
      operationId: readinessCheck
      summary: Readiness probe
      description: |
        Returns 200 if the service is ready to accept traffic — MongoDB connection
        is established and the Kafka producer is initialised. EKS withholds traffic
        until this probe succeeds. Returns 503 during startup or if a dependency
        becomes unavailable.
      tags:
        - Operations
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        "503":
          description: Service is not ready. One or more dependencies are unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Clerk-issued JWT validated locally by the service on every request. The
        service resolves the caller's MotifPath user id from the token's identity
        via the Core Domain Service (the result is cached, so the resolution is not
        repeated per event). The student_id in the event payload must equal that
        resolved user id — not the raw token subject. A token whose identity is not
        a registered MotifPath user, or a payload student_id that is not the
        caller's own user id, is rejected with 401.

  schemas:
    TrackingEvent:
      $ref: './components/schemas/events.yaml#/TrackingEvent'

    IngestAccepted:
      type: object
      description: Confirmation returned when a tracking event is successfully accepted.
      properties:
        event_id:
          type: string
          format: uuid
          description: Echo of the event_id submitted by the caller. Useful for client-side logging.
        received_at:
          type: string
          format: date-time
          description: Server-side timestamp at which the event was written to the event log.
      required:
        - event_id
        - received_at

    ValidationError:
      type: object
      description: Returned when the request body fails schema validation.
      properties:
        message:
          type: string
          description: Human-readable summary of the validation failure.
        errors:
          type: array
          description: One entry per failing field.
          items:
            type: object
            properties:
              field:
                type: string
                description: JSON pointer to the failing field (e.g. "/content_context/content_node_id").
              reason:
                type: string
                description: Description of the constraint that was violated.
            required:
              - field
              - reason
      required:
        - message
        - errors

    UnauthorizedError:
      type: object
      description: Returned when the Bearer token is missing or invalid.
      properties:
        message:
          type: string
          description: Human-readable reason for the rejection.
      required:
        - message

    ForbiddenError:
      type: object
      description: Returned when the authenticated caller lacks permission for the requested operation.
      properties:
        message:
          type: string
          description: Human-readable reason for the denial.
      required:
        - message

    NotFoundError:
      type: object
      description: Returned when the requested resource does not exist.
      properties:
        message:
          type: string
          description: Human-readable description of what was not found.
      required:
        - message

    ServiceUnavailableError:
      type: object
      description: |
        Returned when the service cannot complete the request because a dependency it
        needs is temporarily unreachable. The request can be retried once the dependency
        recovers.
      properties:
        message:
          type: string
          description: Human-readable description of which dependency was unavailable.
      required:
        - message

    PublishOutboxEntry:
      type: object
      description: The retry-tracking record for a single tracking event's Kafka delivery.
      properties:
        event_id:
          type: string
          format: uuid
          description: The event_id this entry tracks. Matches the corresponding events collection document.
        status:
          type: string
          enum:
            - pending
            - published
            - dead
            - resolved_manually
          description: |
            pending — still eligible for the automatic retry sweep. published — Kafka confirmed
            receipt. dead — exhausted its automatic retry attempts and is awaiting manual action.
            resolved_manually — an operator marked this resolved without a confirmed publish.
        attempts:
          type: integer
          minimum: 0
          description: Number of publish attempts made so far, including the initial attempt.
        last_error:
          type: string
          description: |
            Error message from the most recent failed publish attempt. Absent if no attempt has
            failed.
        updated_at:
          type: string
          format: date-time
          description: Timestamp at which this entry was last modified.
      required:
        - event_id
        - status
        - attempts
        - updated_at

    ResolvePublishOutboxEntryRequest:
      type: object
      description: Optional context for why an entry is being manually resolved.
      properties:
        reason:
          type: string
          description: |
            Human-readable explanation of why this entry no longer needs automatic retry,
            stored on the entry for audit purposes.

    HealthStatus:
      $ref: './components/schemas/health.yaml#/HealthStatus'
